/* tabs */

:root {
  --dropmarker-color: white;
}

.tab,
.tab:hover,
.after-tabs button {
  color: black;
}

:root.left .tab:not(.pinned),
:root.left .after-tabs button {
  border-image: url("tab-l.png") 10 5 10 10 fill / 10px 5px 10px 10px;
  padding: 2px 5px 2px 10px;
}

:root.left .tab:not(.pinned).active,
:root.left .after-tabs button:hover {
  border-image: url("tab-active-l.png") 10 5 10 10 fill / 10px 5px 10px 10px;
}

:root.right .tab:not(.pinned),
:root.right .after-tabs button {
  border-image: url("tab-r.png") 10 10 10 5 fill / 10px 10px 10px 5px;
  padding: 2px 10px 2px 5px;
}

:root.right .tab:not(.pinned).active,
:root.right .after-tabs button:hover {
  border-image: url("tab-active-r.png") 10 10 10 5 fill / 10px 10px 10px 5px;
}

.favicon {
  background: url("icon-bg.png") no-repeat bottom;
  background-size: 100%;
  padding: 0 3px 3px;
  position: relative;
  left: -3px;
}

.tab .label,
.tab .counter {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.tab .label {
  margin-left: 0.25em;
}

.closebox {
  background: none transparent;
  border: 0 none;
  padding: 3px 3px 5px;
}


/* pinned tabs */

.tab.pinned {
  border: 1px solid #666666;
  border-radius: 4px;
  margin: 1px 0 0 1px;
  padding: 2px 4px 2px 3px;
}
.tab.pinned:not(.unread) {
  background: #9d9d9d;
}

.tab.pinned:not(.unread).active {
  background-color: #b3b2b3;
}

/* highlighted pinned tabs */
.tab.pinned.unread:not(.active) {
  background-image: radial-gradient(circle farthest-corner at 50% 3px,
                                    Highlight 3%,
                                    #b3b2b3 80%);
}
.tab.pinned.unread:not(.active):hover {
  background-image: radial-gradient(circle farthest-corner at 50% 3px,
                                    Highlight 3%,
                                    #b3b2b3 100%);
}


/* tab bar */

:root {
  background: #797979;
}

:root.left {
  border-right: 2px solid #444444;
}

:root.left:not(.overflow) #tabbar {
  background-image: url("shadow-active-l.png");
  background-repeat: repeat-y;
  background-position: top right;
}

:root.right {
  border-left: 2px solid #444444;
}

:root.right:not(.overflow) #tabbar {
  background-image: url("shadow-active-r.png");
  background-repeat: repeat-y;
  background-position: top left;
}
