/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
/* https://searchfox.org/firefox-main/rev/e3285238626d45d2ec7ee8941fc1c49615730ba5/browser/themes/shared/tabbrowser/tabs.css */

:root {
  &[color-scheme="system-color"]/*@media (-moz-native-theme)*/ {
    --tab-box-shadow-selected: var(--box-shadow-level-1);
  }

  &/*[lwtheme]*/.lwtheme-applied {
    --tab-border-color-selected: var(--lwt-tab-line-color, currentColor);
  }
  --tab-dragover-transition: transform 200ms var(--animation-easing-function);
  --tab-dragover-outline-color: var(--focus-outline-color);
  --tab-vertical-scrollbar-color: auto;
  &.mac/*@media (-moz-platform: macos)*/ {
    --tab-vertical-scrollbar-color: color-mix(in srgb, currentColor 26%, transparent) transparent;
  }
}

/*.tab-background {*/
  tab-item-substance:is(.active, .highlighted, .bundled-active)/* &:is([selected], [multiselected]) */ .background:not(.base) {
    background-color: var(--tab-background-color-selected);
    outline-color: var(--tab-border-color-selected);
    box-shadow: var(--tab-box-shadow-selected);
  }
/*}*/
