[submodule "makexpi"]
	path = makexpi
	url = https://github.com/piroor/makexpi.git
[submodule "extlib/webextensions-lib-configs"]
	path = extlib/webextensions-lib-configs
	url = https://github.com/piroor/webextensions-lib-configs.git
[submodule "extlib/webextensions-lib-options"]
	path = extlib/webextensions-lib-options
	url = https://github.com/piroor/webextensions-lib-options.git
[submodule "extlib/webextensions-lib-l10n"]
	path = extlib/webextensions-lib-l10n
	url = https://github.com/piroor/webextensions-lib-l10n.git
[submodule "extlib/fxaddonlib-inherit"]
	path = extlib/fxaddonlib-inherit
	url = https://github.com/piroor/fxaddonlib-inherit.git
[submodule "extlib/JavaScript-MD5"]
	path = extlib/JavaScript-MD5
	url = https://github.com/blueimp/JavaScript-MD5.git
[submodule "extlib/webextensions-lib-tab-favicon-helper"]
	path = extlib/webextensions-lib-tab-favicon-helper
	url = https://github.com/piroor/webextensions-lib-tab-favicon-helper.git
[submodule "extlib/webextensions-lib-tab-id-fixer"]
	path = extlib/webextensions-lib-tab-id-fixer
	url = https://github.com/piroor/webextensions-lib-tab-id-fixer.git
[submodule "extlib/webextensions-lib-rich-confirm"]
	path = extlib/webextensions-lib-rich-confirm
	url = https://github.com/piroor/webextensions-lib-rich-confirm.git
