language: node_js
node_js:
  - "10"
  - "8"
notifications:
  recipients:
    - piro.outsider.reflex@gmail.com
before_script:
  - cd webextensions
  - npm install
  - make update_extlib
  - make install_extlib
script:
  - make lint

