@import url("treestyletab-inactive.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Square */

tabbrowser[treestyletab-style~="square"][treestyletab-tabbar-position="left"]:not([treestyletab-tabbar-fixed="true"])
  .treestyletab-splitter {
	border-right: 1px solid ThreeDShadow !important;
	-moz-border-right-colors: ThreeDShadow !important;
}
tabbrowser[treestyletab-style~="square"][treestyletab-tabbar-position="right"]:not([treestyletab-tabbar-fixed="true"])
  .treestyletab-splitter {
	border-left: 1px solid ThreeDShadow !important;
	-moz-border-left-colors: ThreeDShadow !important;
}


/* Metal */

.tabbrowser-tabs[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab
  .tab-close-button {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.tabbrowser-strip[treestyletab-style="metal"][treestyletab-mode="vertical"] {
	border-bottom: 0 none !important;
}


/* horizontal tree */

.tabbrowser-tabs[treestyletab-style][treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"] {
	height: auto;
	background: #bbb;
}

#main-window
  .tabbrowser-tabs[treestyletab-style][treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"] {
	background: #777;
}

#main-window
  .tabbrowser-tabs[treestyletab-style][treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab:not([selected="true"])
  .tab-image-middle,
#main-window
  .tabbrowser-tabs[treestyletab-style][treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab:not([selected="true"])
  .tab-close-button,
#main-window
  .tabbrowser-tabs[treestyletab-style][treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab[selected="true"]
  .tab-image-middle,
#main-window
  .tabbrowser-tabs[treestyletab-style][treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab[selected="true"]
  .tab-close-button {
	background-position: left bottom;
	background-repeat: repeat-x;
}

#main-window
  .tabbrowser-tabs[treestyletab-style][treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab:not([selected="true"])
  .tab-image-left,
#main-window
  .tabbrowser-tabs[treestyletab-style][treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab:not([selected="true"])
  .tab-image-right,
#main-window
  .tabbrowser-tabs[treestyletab-style][treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab[selected="true"]
  .tab-image-left,
#main-window
  .tabbrowser-tabs[treestyletab-style][treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab[selected="true"]
  .tab-image-right {
	background-position: left bottom;
	background-repeat: no-repeat;
}

