:root {
  --tab-active-marker: Highlight;
  --tab-active-marker-inactive: darkgray;
  --tab-active-marker-size: calc(var(--favicon-size) / 8);
}

.active-marker::before {
  bottom: 10%;
  content: "";
  left: 10%;
  position: absolute;
  right: 10%;
  top: 10%;
  transition: bottom var(--collapse-animation),
              left var(--collapse-animation),
              right var(--collapse-animation),
              top var(--collapse-animation);
}

.tab:not(.active):hover .active-marker::before {
  background: var(--tab-active-marker-inactive);
}
.tab.active .active-marker::before {
  background: var(--tab-active-marker);
}

:root.left .tab:not(.faviconized) .active-marker::before {
  left: 0;
  width: var(--tab-active-marker-size);
}
:root.right .tab:not(.faviconized) .active-marker::before {
  right: 0;
  width: var(--tab-active-marker-size);
}
.tab:not(.faviconized):hover .active-marker::before,
.tab.active:not(.faviconized) .active-marker::before {
  bottom: 0;
  top: 0;
}

.tab.faviconized .active-marker::before {
  height: var(--tab-active-marker-size);
  top: 0;
}
.tab.faviconized:hover .active-marker::before,
.tab.active.faviconized .active-marker::before {
  left: 0;
  right: 0;
}
