/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

:root {
  --tab-active-marker: Highlight;
  --tab-active-marker-inactive: rgba(0, 0, 0, 0.2);
  --tab-active-marker-size: calc(var(--favicon-size) / 8);
  --tab-active-marker-animation: 0.25s cubic-bezier(0.07, 0.95, 0, 1);
}

.active-marker::before {
  content: "";
  opacity: 0;
  position: absolute;
}

:root.animation .active-marker::before {
  transition: opacity var(--tab-active-marker-animation),
              transform var(--tab-active-marker-animation);
}

.tab:not(.active):hover .active-marker::before {
  background: var(--tab-active-marker-inactive);
}
.tab.active .active-marker::before {
  background: var(--tab-active-marker);
}

.tab:not(.faviconized) .active-marker::before {
  bottom: 0;
  top: 0;
  transform: scaleY(0);
  width: var(--tab-active-marker-size);
}
:root.left .tab:not(.faviconized) .active-marker::before {
  left: 0;
}
:root.right .tab:not(.faviconized) .active-marker::before {
  right: 0;
}
.tab:not(.faviconized):hover .active-marker::before,
.tab.active:not(.faviconized) .active-marker::before {
  opacity: 1;
  transform: scaleY(1);
}

.tab.faviconized .active-marker::before {
  height: var(--tab-active-marker-size);
  left: 0;
  right: 0;
  top: 0;
  transform: scaleX(0);
}
.tab.faviconized:hover .active-marker::before,
.tab.active.faviconized .active-marker::before {
  opacity: 1;
  transform: scaleX(1);
}
