.tab,
.after-tabs button {
  padding: 0.3em 0.25em;
}

.after-tabs button {
  padding: 0em;
}

:root.left .tab:not(.pinned),
:root.left .after-tabs button {
  padding-right: 0.65em;
}

:root.right .tab:not(.pinned),
:root.right .after-tabs button {
  padding-left: 0.65em;
}

:root.left.extra-margin-for-scrollbar .tab:not(.pinned) {
  padding-left: var(--scrollbar-placeholder-size); /* it will be enough larger than the default padding */
}
:root.right.extra-margin-for-scrollbar .tab:not(.pinned) {
  padding-right: var(--scrollbar-placeholder-size); /* it will be enough larger than the default padding */
}


.tab .label {
  padding: 0.25em 0 0.25em 0.25em;
}

.tab .favicon {
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

.tab {
  --tab-closebox-offset: calc((var(--tab-height) - 1em) / 2);
  --tab-closebox-negative-offset: calc((1em - var(--tab-height)) / 2);
}

/* expand closebox to fill full height of tab */
.tab .closebox {
  margin-bottom: var(--tab-closebox-negative-offset);
  margin-top: var(--tab-closebox-negative-offset);
  padding: var(--tab-closebox-offset) 0.25em;
}
