/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

tab-item,
.after-tabs button {
  border: 1px solid var(--tab-border);
  border-width: 1px 0;
  margin-bottom: -1px;
  padding: 0.25em;
}

.after-tabs button {
  padding: 0em;
}

:root.have-pinned-tabs #tabbar {
  border-top: 1px solid var(--tab-border);
}

#tabbar tab-item.pinned + tab-item:not(.pinned),
#tabbar tab-item:not(.pinned):first-of-type {
  border-top: none;
}

#tabbar + .after-tabs button {
  border-bottom: none;
}

:root.left tab-item:not(.pinned) {
  padding-right: 0.35em;
}
:root.left tab-item:not(.pinned)[data-parent-id] {
  border-left-width: 1px;
}

:root.right tab-item:not(.pinned) {
  padding-left: 0.35em;
}
:root.right tab-item:not(.pinned)[data-parent-id] {
  border-right-width: 1px;
}

tab-item tab-favicon {
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

tab-item tab-label {
  margin-left: 0.25em;
  padding: 0 0 0.25em 0;
}

tab-item.pinned {
  border-width: 0 1px 1px 0;
}

tab-item.pinned.last-row {
  border-bottom-width: 0;
}


/* show more-highlighter like as tree */

tab-item:not(.faviconized) .highlighter::after {
   top: calc(var(--tab-highlighter-size) * 2);
}

tab-item[data-child-ids].subtree-collapsed.highlighted.some-descendants-highlighted .highlighter::after {
  width: calc(var(--tab-highlighter-size) * 2);
}
