@import url("base.css");
@import url("border.css");
@import url("active-tab-marker.css");
@import url("plain-color.css");
@import url("vertigo-color.css");
@import url("shadow.css");

:root:not([color-scheme="system-color"]) {
  --tab-active-marker: #0a84ff;
  --tab-active-marker-inactive: #aab0bd; // rgb(170, 176, 189)
  --tab-surface-active-gradient-start: rgba(249, 249, 250, 0.4);
  --tab-surface-active-gradient-end:   rgba(249, 249, 250, 0);
}

:root,
#background {
  background: var(--tabbar-bg);
}

.tab {
  background-color: var(--tab-surface);
}

.tab:not(.collapsed):hover,
.after-tabs button:hover {
  background-color: var(--tab-surface-hover);
}

.tab.active {
  background-color: var(--tab-surface-active);
}

.tab.active:not(.collapsed):hover {
  background-color: var(--tab-surface-active-hover);
}


:root.left .tab:not(.faviconized).active {
  background-image: -moz-linear-gradient(
                      left,
                      var(--tab-surface-active-gradient-start) 0,
                      var(--tab-surface-active-gradient-end) 30%
                    );
}
:root.left .tab:not(.faviconized).active:not(.collapsed):hover {
  background-image: -moz-linear-gradient(
                      left,
                      var(--tab-surface-active-gradient-start) 0,
                      var(--tab-surface-active-gradient-end) 50%
                    );
}

:root.right .tab:not(.faviconized).active {
  background-image: -moz-linear-gradient(
                      right,
                      var(--tab-surface-active-gradient-start) 0,
                      var(--tab-surface-active-gradient-end) 30%
                    );
}
:root.right .tab:not(.faviconized).active:not(.collapsed):hover {
  background-image: -moz-linear-gradient(
                      right,
                      var(--tab-surface-active-gradient-start) 0,
                      var(--tab-surface-active-gradient-end) 50%
                    );
}

.tab.faviconized.active {
  background-image: -moz-linear-gradient(
                      top,
                      var(--tab-surface-active-gradient-start) 0,
                      var(--tab-surface-active-gradient-end) 40%
                    );
}
.tab.faviconized.active:hover {
  background-image: -moz-linear-gradient(
                      top,
                      var(--tab-surface-active-gradient-start) 0,
                      var(--tab-surface-active-gradient-end) 60%
                    );
}


:root.left .tab:not(.faviconized):not(.active):hover .active-marker::before {
  background-image: -moz-linear-gradient(
                      left,
                      rgba(255, 255, 255, 0.85) 0,
                      rgba(255, 255, 255, 0) 30%
                    );
}

:root.right .tab:not(.faviconized):not(.active):hover .active-marker::before {
  background-image: -moz-linear-gradient(
                      right,
                      rgba(255, 255, 255, 0.85) 0,
                      rgba(255, 255, 255, 0) 30%
                    );
}

.tab.faviconized:not(.active):hover .active-marker::before {
  background-image: -moz-linear-gradient(
                      top,
                      rgba(255, 255, 255, 0.85) 0,
                      rgba(255, 255, 255, 0) 30%
                    );
}
