@import url("base.css");
@import url("border.css");
@import url("plain-color.css");
@import url("vertigo-color.css");
@import url("shadow.css");

:root {
  background: var(--tabbar-bg);
}

.tab {
  background-color: var(--tab-surface);
  background-image: -moz-linear-gradient(
                      top,
                      rgba(0, 0, 0, 0.02) 0,
                      rgba(0, 0, 0, 0) 50%
                    );
}

.tab:not(.collapsed):hover {
  background-color: var(--tab-surface-hover);
  background-image: -moz-linear-gradient(
                      top,
                      rgba(213, 224, 245, 1) 0,
                      rgba(213, 224, 245, 0.4) 50%
                    );
}

.tab.active {
  background-color: var(--tab-surface-active);
  background-image: -moz-linear-gradient(
                      top,
                      rgba(4, 83, 227, 0.04) 0,
                      rgba(4, 83, 227, 0) 50%
                    );
}

.tab.active:not(.collapsed):hover {
  background-color: var(--tab-surface-active-hover);
  background-image: -moz-linear-gradient(
                      top,
                      rgba(199, 219, 252, 1) 0,
                      rgba(199, 219, 252, 0.4) 50%
                    );
}

.tab .closebox:hover::before {
  background: var(--tab-text-inverted);
  opacity: 0.8;
}

.tab.active .closebox:hover::before {
  background: var(--tab-text-inverted);
  opacity: 1;
}
