/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

:root {
  --toolbar-non-lwt-bgcolor: var(--in-content-page-background);
  --toolbar-non-lwt-textcolor: var(--in-content-page-color);

  --tab-like-surface: var(--browser-bg-base, var(--toolbar-non-lwt-bgcolor));
  --tab-surface: var(--browser-bg-for-header-image, var(--tab-like-surface));
  --tab-text: var(--browser-fg, var(--toolbar-non-lwt-textcolor));
  --tab-text-inverted: var(--browser-bg-more-lighter, var(--toolbar-non-lwt-bgcolor));
  --tab-text-active: var(--tab-text);
  --tab-text-active-inverted: var(--toolbar-non-lwt-bgcolor);
  --tab-border: var(--browser-border, var(--browser-bg-more-darker, var(--in-content-box-border-color-mixed)));
  --tab-surface-hover: var(--browser-bg-hover-for-header-image, var(--browser-bg-more-more-lighter, var(--in-content-box-background-hover)));
  --tab-surface-active: var(--browser-bg-active-for-header-image, var(--face-highlight-more-lighter, var(--in-content-button-background-mixed)));
  --tab-surface-active-hover: var(--browser-bg-active-for-header-image, var(--face-highlight-more-more-lighter, var(--in-content-button-background-active-mixed)));
  --tab-dropmarker: var(--browser-fg, var(--toolbar-non-lwt-textcolor));
  --throbber-color: var(--browser-loading-indicator, var(--tab-text));

  --tabbar-bg: var(--browser-bg-darker, darkgray);
}

:root,
#background {
  background-color: var(--browser-background, var(--tabbar-bg));
  background-image: var(--browser-bg-url, var(--browser-header-url, none));
}

:root[color-scheme="system-color"] {
  --tab-surface: var(--browser-bg-for-header-image, var(--browser-bg-base, -moz-dialog));
  --tab-text: var(--browser-fg, -moz-dialogtext);
  --tab-text-inverted: var(--browser-bg-more-lighter, -moz-dialog);
  --tab-text-active: var(--tab-text);
  --tab-text-active-inverted: Highlight;
  --tab-border: var(--browser-border, var(--browser-bg-more-darker, ThreeDShadow));
  --tab-surface-hover: var(--browser-bg-hover-for-header-image, var(--browser-bg-more-lighter, ThreeDHighlight));
  --tab-surface-active: var(--browser-bg-active-for-header-image, var(--face-highlight-more-lighter, Highlight));
  --tab-surface-active-hover: var(--browser-bg-active-for-header-image, var(--face-highlight-more-more-lighter, Highlight));
  --tab-dropmarker: var(--browser-fg, -moz-dialogtext);
  --tabbar-bg: var(--browser-bg-darker, ThreeDShadow);
}
:root[color-scheme="system-color"] #background::after {
  background: var(--browser-bg-darker, AppWorkspace);
  opacity: 0.15;

  bottom: 0;
  content: "";
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
}

@media (prefers-color-scheme: dark) {
  /* this color scheme is same to plain-color-dark */
  :root:not([color-scheme="system-color"]) {
    --tab-highlighter: var(--dark-tab-line);
    --tab-highlighted-highlight: white;
    --tabbar-bg: var(--dark-frame);

    --tab-like-surface: var(--toolbar-non-lwt-bgcolor);
    --tab-surface: var(--tab-like-surface);
    --tab-text: var(--toolbar-non-lwt-textcolor);
    --tab-text-inverted: var(--toolbar-non-lwt-bgcolor);
    --tab-text-active: var(--tab-text);
    --tab-text-active-inverted: var(--toolbar-non-lwt-bgcolor);
    --tab-border: var(--in-content-box-border-color-mixed);
    --tab-surface-hover: var(--in-content-box-background-hover);
    --tab-surface-active: var(--in-content-button-background-mixed);
    --tab-surface-active-hover: var(--in-content-button-background-active-mixed);
    --tab-dropmarker: var(--toolbar-non-lwt-textcolor);

    --tab-highlighter-inactive: var(--grey-10-a20);
  }
}

tab-item,
.after-tabs button,
#dummy-tab-color-box {
  background: var(--tab-surface);
  color: var(--tab-text);
  text-shadow: var(--browser-textshadow-for-header-image, none);
}

tab-item * {
  color: var(--tab-text);
}

tab-item:not(.active):hover,
.after-tabs button:hover {
  --tab-surface: var(--tab-surface-hover);
  color: var(--tab-text);
}

tab-item.active {
  --tab-surface: var(--tab-surface-active);
  --throbber-color: var(--browser-loading-indicator, var(--tab-text-active));
  --tab-text: var(--tab-text-active);
  --tab-text-inverted: var(--tab-text-active-inverted);
}
tab-item.bundled-active,
tab-item.active:hover {
  --tab-surface: var(--tab-surface-active-hover);
}

tab-closebox {
  background: none transparent;
  border: none 0 transparent;
  margin: 0;
  padding: 0.1em;
}

tab-item .burster {
  --throbber-color: var(--tab-loading-fill);
}
