:root,
:root[color-scheme="system-color"] {
  --tab-surface: #252526;
  --tab-text: #efefef;
  --tab-text-inverted: black;
  --tab-text-active: #f9f9fa;
  --tab-text-active-inverted: black;
  --tab-border: #3c3c3d;
  --tab-surface-hover: #5a5a5b;
  --tab-surface-active: #474749;
  --tab-surface-active-hover: #707071;
  --tab-active-marker: #0a84ff;
  --tab-active-marker-inactive: rgba(255, 255, 255, 0.2);
  --dropmarker-color: var(--tab-text);
  --throbber-color: var(--tab-text);

  --tab-highlighted-glow: var(--tab-active-marker);
  --tab-highlighted-highlight: white;
  --tabbar-bg: #0c0c0d;
}
:root[color-scheme="system-color"] #background::after {
  content: none;
}

.tab.active {
  --tab-surface: var(--tab-surface-active);
  --throbber-color: var(--tab-text-active);
  --tab-text: var(--tab-text-active);
  --tab-text-inverted: var(--tab-text-active-inverted);
}
.tab:not(.collapsed).active:hover {
  --tab-surface: var(--tab-surface-active-hover);
}
