:root {
  --shadow-color: rgba(0, 0, 0, 0.04);
  --shadow-blur: 0.2em;
}

:root.left .tab:not(.pinned):not(collapsed) {
  box-shadow: -0.3em 0.3em var(--shadow-blur) var(--shadow-color);
}

:root.right .tab:not(.pinned):not(collapsed) {
  box-shadow: 0.3em 0.3em var(--shadow-blur) var(--shadow-color);
}

.after-tabs button {
  box-shadow: 0 0.3em var(--shadow-blur) var(--shadow-color);
}


:root.left #tabbar {
  box-shadow: inset -0.2em 0.2em var(--shadow-blur) var(--shadow-color);
}

:root.right #tabbar {
  box-shadow: inset 0.2em 0.2em var(--shadow-blur) var(--shadow-color);
}


/* Transparent tabs are shown above solid tabs.
   We have to set z-index to show all tabs in the same layer. */
.tab {
  z-index: auto;
}

.after-tabs button {
  z-index: 100;
}
