/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

@import url("/resources/ui-color.css");
@import url("base.css");
@import url("vertigo-color.css");

.after-tabs button {
  border: 0 none;
}

.mutiple-highlighted tab-item:not(.highlighted) {
  opacity: 0.5;
}



/* hide regular active tab marker */
.highlighter::before {
  display: none !important;
}
