@charset "UTF-8";
/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

/*
 Workaround until native context menu becomes available.
 I have very less motivation to maintain this for future versions.
 See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1376251
           https://bugzilla.mozilla.org/show_bug.cgi?id=1396031
*/

#tabContextMenu,
#tabContextMenu ul {
  background: ThreeDFace;
  border: 1px outset ThreeDFace;
  box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.35);
  color: -moz-fieldtext;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  opacity: 0;
  overflow: auto;
  padding: 0.5em 0;
  pointer-events: none;
  position: fixed;
  transition: opacity var(--collapse-animation);
  z-index: 999999;
}

#tabContextMenu ul {
  transition-delay: 300ms;
}

#tabContextMenu.open,
#tabContextMenu li:hover ul {
  opacity: 1;
  pointer-events: auto;
}

#tabContextMenu li {
  list-style: none;
  margin: 0;
  padding: 0.2em 0.5em 0.2em 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#tabContextMenu li.radio.checked::before,
#tabContextMenu li.checkbox.checked::before {
  content: "✔";
  position: absolute;
  left: 0.25em;
}

#tabContextMenu li.separator {
  border: 1px inset ThreeDFace;
  margin: 0.25em 0.5em;
  max-height: 0;
  padding: 0;
  pointer-events: none;
}

#tabContextMenu li:not(.separator):hover {
  background: Highlight;
  color: HighlightText
}

#tabContextMenu li:not(.separator):hover ul li:not(:hover) {
  background: ThreeDFace;
  color: -moz-fieldtext;
}

#tabContextMenu[data-tab-states~="muted"] #context-mute,
#tabContextMenu:not([data-tab-states~="muted"]) #context-unmute,
#tabContextMenu[data-tab-states~="pinned"] #context-pin,
#tabContextMenu:not([data-tab-states~="pinned"]) #context-unpin,
#tabContextMenu[data-tab-states~="pinned"] #context-closeAfter,
#tabContextMenu[data-tab-states~="pinned"] #context-bookmarkAll,
#tabContextMenu[data-tab-states~="pinned"] #context-closeOther,
#tabContextMenu:not([data-tab-id]) .require-context-tab,
#tabContextMenu:not([data-tab-id]) .extra,
#tabContextMenu:not(.has-multiple-tabs) .require-multiple-tabs,
#tabContextMenu:not(.has-normal-tabs) .require-normal-tabs,
#tabContextMenu:not(.has-multiple-normal-tabs) .require-multiple-normal-tabs {
  display: none;
}

#tabContextMenu li.has-submenu {
  padding-right: 1.5em;
}
#tabContextMenu li.has-submenu::after {
  content: ">";
  position: absolute;
  right: 0.5em;
}
