@charset "UTF-8";
/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

:root {
  --indent-animation: 0.2s ease-out;
  --collapse-animation: 0.15s ease-out;
  --tab-animation: bottom        var(--collapse-animation),
                   left          var(--collapse-animation),
                   margin-bottom var(--collapse-animation),
                   margin-left   var(--indent-animation),
                   margin-right  var(--indent-animation),
                   margin-top    var(--collapse-animation),
                   max-height    var(--collapse-animation),
                   max-width     var(--collapse-animation),
                   min-height    var(--collapse-animation),
                   min-width     var(--collapse-animation),
                   opacity       var(--collapse-animation),
                   right         var(--collapse-animation),
                   top           var(--collapse-animation);

  --favicon-size: 16px;
}

/*
@keyframes throbber {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
*/

:root.debug * {
  outline: 1px dotted rgba(255, 0, 0, 0.5);
}

button {
  -moz-user-focus: ignore;
}

.vbox {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

#tabbar {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* put scrollbar leftside */
#tabbar {
  direction: rtl;
}
#all-tabs {
  direction: ltr;
}

/* for narrow scrollbar */
/*
#tabbar.overflow {
  margin-left: -8px;
}
*/

ul {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

li.tab {
  align-items: center;
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  line-height: 1;
  list-style: none;
  margin-bottom: -1px;
  margin-left: 0;
  margin-right: 0;
  /* margin-top: 0; *//* don't set for animation */
  max-width: 100%;
  overflow: hidden;
  opacity: 1;
  padding: 0.25em;
  position: relative;
}

li.tab,
li.tab * {
  vertical-align: middle;
}

li.tab.animation-ready {
  transition: var(--tab-animation);
}

li.active {
  background: Highlight;
  color: HighlightText;
  font-weight: bold;
}

li.removing {
  max-height: 1px;
  opacity: 0;
  pointer-events: none;
}

li.collapsed-completely {
  pointer-events: none;
  visibility: collapse;
}


li.tab.pinned {
  border-top: none;
  border-left: none;
  margin: 0;
  position: fixed;
  z-index: 1; /* this is required to make pinned tabs clickable */
}

li.tab.pinned :-moz-any(.twisty, .label, .closebox) {
  display: none;
}


.favicon {
  display: inline-box;
  height: var(--favicon-size);
  max-height: var(--favicon-size);
  max-width: var(--favicon-size);
  min-height: var(--favicon-size);
  min-width: var(--favicon-size);
  white-space: pre;
  width: var(--favicon-size);
  margin: 0;
  padding: 0;
}
.favicon-image {
  max-height: var(--favicon-size);
  max-width: var(--favicon-size);
}
.favicon-default::before,
.throbber::before {
  display: inline-box;
  line-height: 1;
  max-height: var(--favicon-size);
  max-width: var(--favicon-size);
}
.favicon-default::before {
  content: "🌐";
}
.throbber::before {
  content: "⏳";
}
.favicon-image:not(.error) ~ .favicon-default::before {
  display: none;
}
li.tab.loading .favicon-image,
li.tab.loading .favicon-default::before {
  display: none;
}
li.tab:not(.loading) .throbber::before {
  display: none;
}
/*
li.tab.loading .throbber {
  animation: throbber 3s ease-in-out infinite;
}
*/

.tab .label {
  flex-grow: 1;
  overflow: hidden;
  padding: 0.25em 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.closebox {
  background: none transparent;
  border: 1px solid transparent;
  margin: 0;
  opacity: 0.75;
  padding: 0.1em;
}
.closebox::before {
  content: "✖";
}

.closebox:hover {
  opacity: 1;
}

.closebox:active {
  opacity: 0.5;
}


#tabbar.overflow .after-tabs,
#tabbar:not(.overflow) ~ .after-tabs {
  display: none;
}

#tabbar ~ .after-tabs {
  bottom: 0;
  height: 0;
  justify-content: flex-end;
  left: 0;
  overflow: visible;
  position: fixed;
  right: 0;
}

.newtab-button {
  background: none transparent;
  border: 1px solid;
  margin: 0;
  text-align: center;
}


/* drag and drop */

li.tab.dragging {
  opacity: 0.5 !important;
}

li.tab[data-drop-position="self"] {
  outline: 0.15em solid black !important;
  outline-offset: -0.15em;
}

li.tab[data-drop-position]:not([data-drop-position="self"])::before {
  content: "";
  display: box;
  max-height: 0.15em;
  min-height: 0.15em;
  background: black !important;
  overflow: hidden;
  position: absolute;
}

li.tab:not(.pinned)[data-drop-position="before"]::before {
  left: 0;
  right: 0;
  top: 0;
}

li.tab:not(.pinned)[data-drop-position="after"]::before {
  bottom: 0;
  left: 0;
  right: 0;
}

li.tab.pinned[data-drop-position="before"]::before {
  bottom: 0;
  left: 0;
  top: 0;
}

li.tab.pinned[data-drop-position="after"]::before {
  bottom: 0;
  right: 0;
  top: 0;
}

