@charset "UTF-8";
/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

:root {
  --dropmarker-size: 0.15em;
  --dropmarker-color: -moz-fieldtext;
}

.tab.dragging {
  opacity: 0.5 !important;
}

.tab[data-drop-position="self"] {
  outline: var(--dropmarker-size) solid var(--dropmarker-color) !important;
  outline-offset: calc(0px - var(--dropmarker-size));
  -moz-outline-radius: calc(var(--dropmarker-size) * 2);
}

.tab[data-drop-position]:not([data-drop-position="self"])::before {
  content: "";
  display: block;
  max-height: var(--dropmarker-size);
  min-height: var(--dropmarker-size);
  background: var(--dropmarker-color) !important;
  border-radius: var(--dropmarker-size);
  overflow: hidden;
  position: absolute;
  z-index: 10000;
}
.tab[data-drop-position]:not([data-drop-position="self"]).pinned::before {
  max-height: none;
  max-width: var(--dropmarker-size);
  min-height: 0;
  min-width: var(--dropmarker-size);
}

.tab:not(.pinned)[data-drop-position="before"]::before {
  left: 0;
  right: 0;
  top: 0;
}

.tab:not(.pinned)[data-drop-position="after"]::before {
  bottom: 0;
  left: 0;
  right: 0;
}

.tab.pinned[data-drop-position="before"]::before {
  bottom: 0;
  left: 0;
  top: 0;
}

.tab.pinned[data-drop-position="after"]::before {
  bottom: 0;
  right: 0;
  top: 0;
}


.tab-drop-blocker {
  background: black;
  display: none;
  position: fixed;
}

:root.tab-dragging .tab-drop-blocker {
  display: block;
}

:root.tab-dragging .tab-drop-blocker#tab-drop-blocker-top {
  left: 0;
  min-height: 1px;
  right: 0;
  top: 0;
}

:root.tab-dragging .tab-drop-blocker#tab-drop-blocker-right {
  bottom: 0;
  min-width: 1px;
  right: 0;
  top: 0;
}

:root.tab-dragging .tab-drop-blocker#tab-drop-blocker-bottom {
  bottom: 0;
  left: 0;
  min-height: 1px;
  right: 0;
}

:root.tab-dragging .tab-drop-blocker#tab-drop-blocker-left {
  bottom: 0;
  left: 0;
  min-width: 1px;
  top: 0;
}
