@charset "UTF-8";
/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

:root {
  --dropmarker-size: 0.15em;
  --dropmarker-size-negative: -0.15em;
}

.tab.dragging {
  opacity: 0.5 !important;
}

.tab[data-drop-position="self"] {
  outline: var(--dropmarker-size) solid black !important;
  outline-offset: var(--dropmarker-size-negative);
}

.tab[data-drop-position]:not([data-drop-position="self"])::before {
  content: "";
  display: block;
  max-height: var(--dropmarker-size);
  min-height: var(--dropmarker-size);
  background: black !important;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}
.tab[data-drop-position]:not([data-drop-position="self"]).pinned::before {
  max-height: none;
  max-width: var(--dropmarker-size);
  min-height: 0;
  min-width: var(--dropmarker-size);
}

.tab:not(.pinned)[data-drop-position="before"]::before {
  left: 0;
  right: 0;
  top: 0;
}

.tab:not(.pinned)[data-drop-position="after"]::before {
  bottom: 0;
  left: 0;
  right: 0;
}

.tab.pinned[data-drop-position="before"]::before {
  bottom: 0;
  left: 0;
  top: 0;
}

.tab.pinned[data-drop-position="after"]::before {
  bottom: 0;
  right: 0;
  top: 0;
}

