@charset "UTF-8";
/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

/* Indent line https://github.com/piroor/treestyletab/issues/2948 */

:root {
  --highlighted-indent-level: -1;
  --indent-line-opacity: 0;
}

:root.indent-line tab-item:not(.pinned):not(.collapsed)::before {
  background-image: var(--indent-line-highlighted);
  bottom: 0;
  content: "";
  opacity: var(--indent-line-opacity);
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity var(--collapse-animation);
  width: var(--tab-indent);
  z-index: 999999;
  --indent-line-left: repeating-linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0px,
    var(--tab-border) 0px,
    var(--tab-border) 1px,
    rgba(0, 0, 0, 0) 1px,
    rgba(0, 0, 0, 0) var(--indent-size)
  );
  --indent-line-right: repeating-linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0px,
    var(--tab-border) 0px,
    var(--tab-border) 1px,
    rgba(0, 0, 0, 0) 1px,
    rgba(0, 0, 0, 0) var(--indent-size)
  );
  --indent-line-highlighted-left: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) calc(var(--indent-size) * (var(--highlighted-indent-level))),
    currentcolor calc(var(--indent-size) * (var(--highlighted-indent-level))),
    currentcolor calc(var(--indent-size) * (var(--highlighted-indent-level)) + 1px),
    rgba(0, 0, 0, 0) calc(var(--indent-size) * (var(--highlighted-indent-level)) + 1px)
  );
  --indent-line-highlighted-right: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) calc(var(--indent-size) * (var(--highlighted-indent-level))),
    currentcolor calc(var(--indent-size) * (var(--highlighted-indent-level))),
    currentcolor calc(var(--indent-size) * (var(--highlighted-indent-level)) + 1px),
    rgba(0, 0, 0, 0) calc(var(--indent-size) * (var(--highlighted-indent-level)) + 1px)
  );
}

:root.left.indent-line tab-item:not(.pinned)::before {
  --indent-line: var(--indent-line-left);
  --indent-line-highlighted: var(--indent-line-highlighted-left);
  left: calc(var(--indent-size) * 0.75);
}

:root.right.indent-line tab-item:not(.pinned)::before {
  --indent-line: var(--indent-line-right);
  --indent-line-highlighted: var(--indent-line-highlighted-right);
  right: calc(var(--indent-size) * 0.75);
}

:root.indent-line:hover tab-item:not(.pinned):not(.collapsed)::before {
  background-image: var(--indent-line-highlighted), var(--indent-line);
  --indent-line-opacity: 1;
}
