@charset "UTF-8";
/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

/* Indent line https://github.com/piroor/treestyletab/issues/2948 */

:root.indent-line tab-item:not(.pinned):not(.collapsed)::before {
  bottom: 0;
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  width: var(--tab-indent);
  z-index: 999999;
  --indent-line-left: repeating-linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0px,
    var(--tab-border) 0px,
    var(--tab-border) 1px,
    rgba(0, 0, 0, 0) 1px,
    rgba(0, 0, 0, 0) var(--indent-size)
  );
  --indent-line-right: repeating-linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0px,
    var(--tab-border) 0px,
    var(--tab-border) 1px,
    rgba(0, 0, 0, 0) 1px,
    rgba(0, 0, 0, 0) var(--indent-size)
  );
}

:root.left.indent-line tab-item:not(.pinned)::before {
  background: var(--indent-line-left);
  left: calc(var(--indent-size) * 0.75);
}

:root.right.indent-line tab-item:not(.pinned)::before {
  background: var(--indent-line-right);
  right: calc(var(--indent-size) * 0.75);
}
