@charset "UTF-8";
/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

:root {
  --sound-button-size: var(--svg-small-icon-size);
  --sound-button-scale: var(--svg-small-icon-scale);
  --sound-button-bg-scale: var(--svg-small-icon-bg-scale);
}

.sound-button {
  background: none transparent;
  border: none 0 transparent;
  display: none;
  height: var(--sound-button-size);
  margin: 0;
  opacity: 0.75;
  padding: 0;
  position: relative;
  width: var(--sound-button-size);
}

.sound-button::before,
.sound-button::after {
  background: var(--tab-text);
  content: "";
  display: inline-block;
  height: var(--sound-button-size);
  mask-position: left center;
  mask-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  transform: var(--sound-button-scale);
  width: var(--sound-button-size);
}
.sound-button::before {
  background: var(--tab-text-inverted);
  transform: var(--sound-button-bg-scale);
}

.tab:not(.collapsed) .sound-button:hover {
  opacity: var(--button-hover-opacity);
}

.tab:not(.collapsed) .sound-button:active {
  opacity: var(--button-active-opacity);
}

.tab:not(.collapsed).sound-playing .sound-button,
.tab:not(.collapsed).has-sound-playing-member.subtree-collapsed[data-child-ids]
  .sound-button,
.tab:not(.collapsed).muted .sound-button,
.tab:not(.collapsed).has-muted-member.subtree-collapsed[data-child-ids]
  .sound-button {
  display: inline-block;
}

.tab:not(.collapsed).muted .sound-button::before,
.tab:not(.collapsed).muted .sound-button::after,
.tab:not(.collapsed).has-muted-member.subtree-collapsed[data-child-ids]
  .sound-button::before,
.tab:not(.collapsed).has-muted-member.subtree-collapsed[data-child-ids]
  .sound-button::after {
  mask-image: url("./icons/audio-16-mute.svg");
}

/* put style definition for sound-playing tab after muted tab,
   because "sound-playing" is more important than muted for
   mixed state tree. */
.tab:not(.collapsed).sound-playing:not(.muted) .sound-button::before,
.tab:not(.collapsed).sound-playing:not(.muted) .sound-button::after,
.tab:not(.collapsed).has-sound-playing-member.subtree-collapsed[data-child-ids]
  .sound-button::before,
.tab:not(.collapsed).has-sound-playing-member.subtree-collapsed[data-child-ids]
  .sound-button::after {
  mask-image: url("./icons/audio-16.svg");
}

.tab.pinned .sound-button:hover::before {
  mask-image: none !important;
  border-radius: 150%;
  transform: scale(1.1, 1.1);
}

.tab.faviconized .sound-button {
  transform: scale(0.9, 0.9);
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 200;
}
