@charset "UTF-8";
/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

.sound-button {
  background: none transparent;
  border: none 0 transparent;
  display: none;
  margin: 0;
  opacity: 0.75;
  padding: 0.1em;
}

.sound-button:hover {
  opacity: var(--button-hover-opacity);
}

.sound-button:active {
  opacity: var(--button-active-opacity);
}

.tab.sound-playing .sound-button,
.tab.has-sound-playing-member.subtree-collapsed[data-child-ids]
  .sound-button,
.tab.muted .sound-button,
.tab.has-muted-member.subtree-collapsed[data-child-ids]
  .sound-button {
  display: inline-block;
}

.tab.muted .sound-button::before,
.tab.has-muted-member.subtree-collapsed[data-child-ids]
  .sound-button::before {
  content: "🔇";
}

/* put style definition for sound-playing tab after muted tab,
   because "sound-playing" is more important than muted for
   mixed state tree. */
.tab.sound-playing:not(.muted) .sound-button::before,
.tab.has-sound-playing-member.subtree-collapsed[data-child-ids]
  .sound-button::before {
  content: "🔈";
}

.tab.faviconized .sound-button {
  font-size: 90%;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 200;
}
