@charset "UTF-8";
/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

@keyframes rotation {
  0% { transform: rotatez(0deg); }
  15% { transform: rotatez(0deg); }
  35% { transform: rotatez(180deg); }
  65% { transform: rotatez(180deg); }
  85% { transform: rotatez(360deg); }
  100% { transform: rotatez(360deg); }
}

.throbber {
  display: inline-block;
  line-height: 1;
  position: relative;
  text-align: center;
  transform-origin: calc(var(--throbber-width) / 2)
                    calc(var(--throbber-height) / 2);
  vertical-align: top;
  width: var(--favicon-size);
}

.throbber::before {
  content: "⏳";
  position: relative;
  top: calc(var(--favicon-size) - var(--throbber-height));
  left: calc(var(--favicon-size) - var(--throbber-width));
}

.tab:not(.loading) .throbber {
  display: none !important;
}

.tab.loading:not(.collapsed) .throbber {
  animation: rotation 3s ease-in-out infinite;
}
#dummy-tabs .throbber {
  animation: none !important;
}
