@charset "UTF-8";
/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# Codes for animation are quoted from Firefox itself:
# http://searchfox.org/mozilla-central/rev/3dbb47302e114219c53e99ebaf50c5cb727358ab/browser/themes/shared/tabs.inc.css#136-163
# See also:
# https://github.com/piroor/treestyletab/issues/1384
*/

:root {
  --throbber-color: Highlight;
  --throbber-shadow-color: transparent;
}

.throbber {
  --throbber-size: 16px;
}

.throbber {
  display: inline-block;
  height: var(--throbber-size);
  max-height: var(--throbber-size);
  max-width: var(--throbber-size);
  min-height: var(--throbber-size);
  min-width: var(--throbber-size);
  padding: 0;
  width: var(--throbber-size);
  position: relative;
  overflow: hidden;
}
.tab .throbber,
.tab .throbber * {
  vertical-align: baseline;
}

.throbber::before {
  content: "";
  position: absolute;
  background: transparent url("/resources/loading.svg") left center no-repeat;
  width: calc(var(--throbber-size) * 60);
  height: 100%;
  -moz-context-properties: fill, stroke;
  fill: currentColor;
  opacity: 0.7;
}

:root:not(.blocking-throbber) #blocking-screen .throbber,
.tab:not(.loading) .throbber {
  display: none !important;
}

.tab.loading:not(.collapsed) .throbber::before,
:root.blocking-throbber #blocking-screen .throbber::before {
  animation: throbber 1.05s steps(60) infinite;
}

@keyframes throbber {
  100% { transform: translateX(-100%); }
}

:root.blocking-throbber #blocking-screen .throbber {
  position: absolute;
  top: calc(50% - var(--throbber-size));
  left: calc(50% - var(--throbber-size));
  transform: scale(2, 2);
}

:root.blocking-throbber #blocking-screen .throbber::before {
  color: white;
  stroke: rgba(0, 0, 0, 0.35);
}

#dummy-tabs .throbber {
  animation: none !important;
}
