@charset "UTF-8";
/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

tab-item tab-twisty {
  display: inline-block;
  font-size: 0.65em;
  height: 1.5em;
  line-height: 1;
  max-height: 1.5em;
  max-width: 1.5em;
  min-height: var(--favicon-size);
  min-width: var(--favicon-size);
  position: relative;
  text-align: center;
  transform-origin: 50% 50%;
  vertical-align: top;
  width: 1.5em;
}

:root.animation tab-item:not(.collapsed) tab-twisty {
  transition: transform 0.2s ease-out,
              opacity 0.15s ease-out,
              text-shadow 0.15s ease-out;
}

tab-item:not([data-child-ids]) tab-twisty,
tab-item.pinned tab-twisty,
tab-item.collapsed tab-twisty {
  visibility: hidden !important;
  pointer-events: none !important;
}

tab-item:not(.collapsed) tab-twisty::before {
  color: val(--tab-text);
  content: "▼";
  display: inline-block;
  left: calc((var(--favicon-size) - 1em) / 2);
  line-height: 1;
  max-height: var(--favicon-size);
  max-width: var(--favicon-size);
  position: absolute;
  right: calc((var(--favicon-size) - 1em) / 2);
  top: calc((var(--favicon-size) - 1em) / 2);
}

tab-item:not(.collapsed).subtree-collapsed
  tab-twisty {
  text-shadow: -0.1em 0.1em 0.1em transparent;
  transform: rotatez(-90deg);
}
:root.right
  tab-item:not(.collapsed).subtree-collapsed
  tab-twisty {
  transform: rotatez(90deg);
}

tab-item:not(.collapsed).subtree-collapsed
  tab-twisty:hover {
  text-shadow: -0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
}
:root.right
  tab-item:not(.collapsed).subtree-collapsed
  tab-twisty {
  text-shadow: 0.1em -0.1em 0.1em transparent;
}
:root.right
  tab-item:not(.collapsed).subtree-collapsed
  tab-twisty:hover {
  text-shadow: 0.1em -0.1em 0.1em rgba(0, 0, 0, 0.45);
}

tab-item:not(.collapsed):not(.subtree-collapsed) tab-twisty {
  text-shadow: 0.1em 0.1em 0.1em transparent;
  transform: rotatez(0);
}
tab-item:not(.collapsed):not(.subtree-collapsed) tab-twisty:hover {
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
}
