.tab .twisty {
  display: inline-block;
  height: var(--favicon-size);
  line-height: 1;
  max-height: var(--favicon-size);
  max-width: var(--favicon-size);
  min-height: var(--favicon-size);
  min-width: var(--favicon-size);
  position: relative;
  text-align: center;
  transition: transform 0.2s ease-out,
              opacity 0.15s ease-out,
              text-shadow 0.15s ease-out;
  transform-origin: 50% 50%;
  vertical-align: top;
  width: var(--favicon-size);
}

.tab:not([data-child-ids]) .twisty,
.tab.pinned .twisty {
  visibility: hidden !important;
  pointer-events: none !important;
}

.twisty::before {
  display: inline-box;
  left: calc((var(--favicon-size) - 1em) / 2);
  line-height: 1;
  max-height: var(--favicon-size);
  max-width: var(--favicon-size);
  position: absolute;
  right: calc((var(--favicon-size) - 1em) / 2);
  top: calc((var(--favicon-size) - 1em) / 2);
}

:root[data-twisty-style^="modern"]
  .tab.subtree-collapsed
  .twisty {
  transform: rotatez(-90deg);
}
:root[data-twisty-style^="modern"].tab-contents-inverted
  .tab.subtree-collapsed
  .twisty {
  transform: rotatez(90deg);
}
:root[data-twisty-style^="modern"]
  .tab.subtree-collapsed
  .twisty {
  text-shadow: -0.1em 0.1em 0.1em transparent;
}
:root[data-twisty-style^="modern"]
  .tab.subtree-collapsed
  .twisty:hover {
  text-shadow: -0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
}
:root[data-twisty-style^="modern"].tab-contents-inverted
  .tab.subtree-collapsed
  .twisty {
  text-shadow: 0.1em -0.1em 0.1em transparent;
}
:root[data-twisty-style^="modern"].tab-contents-inverted
  .tab.subtree-collapsed
  .twisty:hover {
  text-shadow: 0.1em -0.1em 0.1em rgba(0, 0, 0, 0.45);
}

.tab:not(.subtree-collapsed) .twisty {
  text-shadow: 0.1em 0.1em 0.1em transparent;
  transform: rotatez(0);
}
.tab:not(.subtree-collapsed) .twisty:hover {
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
}

:root[data-twisty-style^="modern"]
  .twisty {
  font-size: 0.65em;
}
:root[data-twisty-style^="modern"]
  .twisty::before {
  content: "▼";
}

:root[data-twisty-style*="-black"]
  .twisty::before {
  color: black;
}
:root[data-twisty-style*="-white"]
  .twisty::before {
  color: white;
}


:root[data-twisty-style="osx"]
  .tab.subtree-collapsed
  .twisty {
  transform: rotatez(-90deg);
}
:root[data-twisty-style="osx"].tab-contents-inverted
  .tab.subtree-collapsed
  .twisty {
  transform: rotatez(90deg);
}
:root[data-twisty-style="osx"]
  .twisty::before {
  content: "▼";
  font-size: 0.8em;
}
:root[data-twisty-style="osx"]
  .twisty {
  opacity: 0.38;
}
:root[data-twisty-style="osx"]
  .twisty:active,
:root[data-twisty-style="osx"]
  .tab.active .twisty {
  opacity: 1;
}
