@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* buttons in the tab bar */

.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-newtab-button,
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-alltabs-button,
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-container > .tabs-closebutton {
	-moz-appearance: none !important;
	border: 0 none !important;
	-moz-border-top-colors: none !important;
	-moz-border-right-colors: none !important;
	-moz-border-bottom-colors: none !important;
	-moz-border-left-colors: none !important;
	border-top: 1px solid ThreeDShadow !important;
	background: ThreeDFace !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-newtab-button:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-alltabs-button:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-container > .tabs-closebutton:hover {
	background: ThreeDHighlight !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-newtab-button,
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-alltabs-box,
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-alltabs-box-animate,
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-alltabs-button,
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-container > .tabs-closebutton {
	background-image: none !important;
	margin: 0 !important;
	padding: 0 2px !important;
	width: 100% !important;
	min-height: 0 !important;
	height: 16px !important;
}


/* new-tab button next to the last tab */

.tabbrowser-tabs[treestyletab-mode="vertical"] .tabbrowser-arrowscrollbox .tabs-newtab-button {
	border: 0 none !important;
	border-bottom: 1px solid ThreeDShadow !important;
	-moz-border-radius: 0 0 3px 3px;
}
.tabbrowser-tabs[treestyletab-style~="vertigo"][treestyletab-mode="vertical"] .tabbrowser-arrowscrollbox .tabs-newtab-button {
	border-style: none !important;
}


