@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* buttons in the tab bar */

.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-newtab-button,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarbutton,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarpaletteitem > toolbarbutton {
	-moz-appearance: none !important;
	border: 0 none !important;
	-moz-border-top-colors: none !important;
	-moz-border-right-colors: none !important;
	-moz-border-bottom-colors: none !important;
	-moz-border-left-colors: none !important;
	-moz-border-radius: 0; /* Firefox 4.0 or later */
	border-top: 1px solid ThreeDShadow !important;
	background: ThreeDFace !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-newtab-button:hover,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarbutton:hover {
	background: ThreeDHighlight !important;
}

/* for Mac OS X, Firefox 4 */
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-newtab-button
  .toolbarbutton-icon {
	-moz-border-image: none !important;
	border: 0 none !important;
	margin: 0 !important;
	padding: 0 !important;
}
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"]) .arrowscrollbox-scrollbox {
	margin: 0 !important;
	padding: 0 !important;
}

/* Support customizable tab bar on Firefox 4.0 or later */
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarpaletteitem > toolbarbutton {
	-moz-box-flex: 1;
}
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > *:not(toolbarpaletteitem) {
	-moz-border-top-colors: none !important;
	border-top: 1px solid ThreeDShadow !important;
}
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > *:first-child,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > *:first-child[hidden="true"] + *:not(toolbarpaletteitem),
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > .treestyletab-toolbar-inner-box {
	-moz-border-top-colors: none !important;
	border-top: 0 none !important;
}


.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-newtab-button,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarbutton,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarpaletteitem > toolbarbutton {
	background-image: none !important;
	margin: 0 !important;
	padding: 0 2px !important;
	width: 100% !important;
	min-height: 0 !important;
	height: 16px !important;
}


/* new-tab button next to the last tab */

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox .tabs-newtab-button {
	border: 0 none !important;
	border-bottom: 1px solid ThreeDShadow !important;
	-moz-border-radius: 0 0 3px 3px;
}
.tabbrowser-tabs[treestyletab-style~="vertigo"][treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox .tabs-newtab-button {
	border-style: none !important;
}
