@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* buttons in the tab bar */

.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-newtab-button,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarbutton,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarpaletteitem > toolbarbutton {
	appearance: none !important;
	-moz-appearance: none !important;
	border: 0 none !important;
	-moz-border-top-colors: none !important;
	-moz-border-right-colors: none !important;
	-moz-border-bottom-colors: none !important;
	-moz-border-left-colors: none !important;
	border-radius: 0;
	-moz-border-radius: 0;
	border-top: 1px solid ThreeDShadow !important;
	background: -moz-dialog !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-newtab-button:hover,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarbutton:hover {
	background: ThreeDHighlight !important;
}

/* for Mac OS X */
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-newtab-button
  .toolbarbutton-icon {
	-moz-border-image: none !important;
	border-image: none !important;
	border: 0 none !important;
	margin: 0 !important;
	padding: 0 !important;
}
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"]) .arrowscrollbox-scrollbox {
	margin: 0 !important;
	padding: 0 !important;
}

/* Support customizable tab bar */
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarpaletteitem > toolbarbutton {
	box-flex: 1;
	-moz-box-flex: 1;
}
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > *:not(toolbarpaletteitem) {
	-moz-border-top-colors: none !important;
	border-top: 1px solid ThreeDShadow !important;
}
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > *:first-child,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > *:first-child[hidden="true"] + *:not(toolbarpaletteitem),
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > .treestyletab-toolbar-inner-box {
	-moz-border-top-colors: none !important;
	border-top: 0 none !important;
}


.tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-newtab-button,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarbutton,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"] > toolbarpaletteitem > toolbarbutton {
	background-image: none !important;
	margin: 0 !important;
	padding: 0 2px !important;
	width: 100% !important;
	min-height: 0 !important;
	height: 16px !important;
}


/* new-tab button next to the last tab */

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox .tabs-newtab-button {
	border: 0 none !important;
	border-bottom: 1px solid ThreeDShadow !important;
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
}
.tabbrowser-tabs[treestyletab-style~="vertigo"][treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox .tabs-newtab-button {
	border-style: none !important;
}


/* Make tab itself clickable */
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab {
	pointer-events: auto;
}


/* Disable background tab separator introduced by Australis */
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[beforeselected]::after,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[beforehovered]::after,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[afterselected]::before,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[afterhovered]::before,
/* http://mxr.mozilla.org/mozilla-central/source/browser/themes/shared/tabs.inc.css#262 */
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])[movingtab]
  .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([selected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"]):not([overflow])
  .tabbrowser-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after {
	/* hide it anyway!! */
	content: none;
	display: none;
	visibility: collapse;
}

/* Show tab favicon in vertical tab bar always */
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab:not([busy])
  .tab-icon-image:not([src]):not([pinned]) {
	display: -moz-box;
}
