@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

radio.image .radio-label-box,
radio.image label.radio-label {
	-moz-box-align: center;
}


label.scale-label {
	min-width: 0;
	margin: 0;
	font-size: smaller;
}

label[scale-selected="true"] {
	font-weight: bold;
}


separator.hr {
	border: 0 none;
	border-top: 2px groove -moz-field;
	height: 0;
	margin-top: 0;
	margin-bottom: 0;
	max-height: none;
	min-height: 0;
	padding: 0;
}
