@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

radio.image .radio-label-box,
radio.image label.radio-label {
	-moz-box-align: center;
}


radio[pane] {
	list-style-image: url("jar:resource:///chrome/classic.jar!/skin/classic/browser/preferences/Options.png");
}

radio[pane="prefpane-appearance"] {
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}
radio[pane="prefpane-style"] {
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}
radio[pane="prefpane-menu"] {
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}
radio[pane="prefpane-tab"] {
	-moz-image-region: rect(0px, 64px, 32px, 32px);
}
radio[pane="prefpane-autohide"] {
	-moz-image-region: rect(0px, 64px, 32px, 32px);
}
radio[pane="prefpane-advanced"] {
	-moz-image-region: rect(0px, 224px, 32px, 192px);
}
radio[pane="prefpane-tree"] {
	list-style-image: url("chrome://treestyletab/content/res/icon.png");
}

label.scale-label {
	min-width: 0;
	margin: 0;
	font-size: smaller;
}

label[scale-selected="true"] {
	font-weight: bold;
}


separator.hr {
	border: 0 none;
	border-top: 2px groove -moz-field;
	height: 0;
	margin-top: 0;
	margin-bottom: 0;
	max-height: none;
	min-height: 0;
	padding: 0;
}
