@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* horizontal tree */

.tabbrowser-tabs[treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"] {
	height: auto;
	background: #bbb;
}

#main-window
  .tabbrowser-tabs[treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"] {
	background: #777;
}

#main-window
  .tabbrowser-tabs[treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab:not([selected="true"])
  .tab-close-button,
#main-window
  .tabbrowser-tabs[treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab[selected="true"]
  .tab-close-button {
	background-position: left bottom;
	background-repeat: repeat-x;
}

#main-window:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab:not([selected="true"])
  .tab-close-button,
#main-window:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab[selected="true"]
  .tab-close-button,
#main-window:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab[selected="true"]
  .tab-close-button {
	background-position: left bottom;
	background-repeat: repeat-x;
}

