@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/**
 * Cancel "tabs on top" appearance on Australis.
 */
:root:not([treestyletab-tabbar-position="top"])
  #nav-bar:not(:-moz-lwtheme),
:root:not([treestyletab-tabbar-position="top"])
  #nav-bar:not(:-moz-lwtheme):-moz-window-inactive {
	background: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	box-shadow: none;
	/**
	 * With Australis, the "back" button in the navigation toolbar is
	 * unexpectedly overwrapped on the border of the expanded titlebar.
	 * This negative margin solves the overwrapping.
	 */
	margin-top: -4px;
}
