@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* horizontal tree */

.tabbrowser-tabs[treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"] {
	height: auto;
	background: #bbb;
}

#main-window
  .tabbrowser-tabs[treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"] {
	background: #777;
}

#main-window
  .tabbrowser-tabs[treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab:not([visuallyselected="true"])
  .tab-close-button,
#main-window
  .tabbrowser-tabs[treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab[visuallyselected="true"]
  .tab-close-button {
	background-position: left bottom;
	background-repeat: repeat-x;
}

#main-window:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab:not([visuallyselected="true"])
  .tab-close-button,
#main-window:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab[visuallyselected="true"]
  .tab-close-button,
#main-window:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-mode="horizontal"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab[visuallyselected="true"]
  .tab-close-button {
	background-position: left bottom;
	background-repeat: repeat-x;
}


/* bottom border of the "Tabs on Bottom" toolbox */

:root[treestyletab-mode="vertical"]:not([disablechrome])
  #navigator-toolbox[tabsontop="false"] {
	border-bottom: 1px solid rgba(0, 0, 0, 0.57);
}

:root[treestyletab-mode="vertical"]:not([disablechrome]):-moz-window-inactive
  #navigator-toolbox[tabsontop="false"] {
	border-bottom-color: rgba(0, 0, 0, 0.32);
}
