:root {
	appearance: window;
	-moz-appearance: window;
	background: -moz-dialog;
	margin: 0;
	padding: 0;
}

.label-container {
	padding: 1em;
	position: relative;
}

.label-container > * {
	width: 100%;
}

#label {
	color: -moz-dialogtext;
	font-family: message-box;
	font-size: large;
	font-weight: normal;
}

.icon {
	list-style-image: url("chrome://treestyletab-group/skin/group.png");
/*
	list-style-image: url("chrome://global/skin/icons/folder-item.png");
	-moz-image-region: rect(0, 32px, 16px, 16px);
*/
}

.background-image {
	width: 320px;
	max-width: 320px;
	height: 320px;
	max-height: 320px;
	position: fixed;
	top: auto;
	right: 0;
	bottom: 0;
	left: auto;
	opacity: 0.3;
	image-rendering: -moz-crisp-edges;
	margin: 0 -0.3em -0.3em 0;
	transform: rotate(8deg);
	-moz-transform: rotate(8deg);
}

.background-image-container {
	position: fixed;
	top: auto;
	right: 0;
	bottom: 0;
	left: auto;
}


#tree {
	margin-top: 1em;
	overflow: auto;
	box-flex: 1;
	-moz-box-flex: 1;
}

.treestyletab-pseudo-tree-root-item {
	display: none;
}
