@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

radio[pane="prefpane-appearance"]:hover,
radio[pane="prefpane-appearance"][visuallyselected="true"] {
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}

radio[pane="prefpane-style"]:hover,
radio[pane="prefpane-style"][visuallyselected="true"] {
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}

radio[pane="prefpane-menu"]:hover,
radio[pane="prefpane-menu"][visuallyselected="true"] {
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}

radio[pane="prefpane-tab"]:hover,
radio[pane="prefpane-tab"][visuallyselected="true"] {
	-moz-image-region: rect(0px, 64px, 32px, 32px);
}

radio[pane="prefpane-autohide"]:hover,
radio[pane="prefpane-autohide"][visuallyselected="true"] {
	-moz-image-region: rect(0px, 64px, 32px, 32px);
}

radio[pane="prefpane-advanced"]:hover,
radio[pane="prefpane-advanced"][visuallyselected="true"] {
	-moz-image-region: rect(0px, 224px, 32px, 192px);
}

