@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* horizontal tree */

.tabbrowser-tabs[treestyletab-tabbar-position="top"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab:not([selected="true"]),
.tabbrowser-tabs[treestyletab-tabbar-position="top"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab[selected="true"] {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	height: 1.5em;
	-moz-border-radius: 0 0 0 0;
}
