@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* splitter for floating & autohide tab bar */
.treestyletab-tabbar-toolbar .treestyletab-splitter {
	appearance: none;
	-moz-appearance: none;
	width: 6px;
}

#treestyletab-autohide-content-area-screen {
	background: transparent;
}
/**
 * We have to set both left and right borders to make the "window"
 * not rectangle, because rectangle "window"s have dropshadows on Linux.
 */
:root[treestyletab-tabbar-position="left"]
  #treestyletab-autohide-content-area-screen,
:root[treestyletab-tabbar-position="right"]
  #treestyletab-autohide-content-area-screen  {
	border-right: 1px solid ThreeDShadow;
	border-left: 1px solid ThreeDShadow;
}

/* bottom border of the "Tabs on Bottom" toolbox */
#main-window[treestyletab-mode="vertical"]:not([disablechrome])
  #navigator-toolbox:not([tabsontop="true"]) {
	border-bottom: 1px solid ThreeDShadow;
}


/* pinned tabs on "Default" skin */

.tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style])
  .tab-content[pinned="true"] {
	padding: 0;
}


/* indicator for private window on Australis */
#main-window[privatebrowsingmode=temporary]:not([treestyletab-tabbar-position="top"])
  #TabsToolbar::before,
#main-window[privatebrowsingmode="temporary"][treestyletab-tabbar-position="top"]:not([treestyletab-tabbar-fixed="true"])
  #TabsToolbar::before {
	content: none;
}
#main-window[privatebrowsingmode=temporary]:not([treestyletab-tabbar-position="top"])
  #nav-bar::after,
#main-window[privatebrowsingmode="temporary"][treestyletab-tabbar-position="top"]:not([treestyletab-tabbar-fixed="true"])
  #nav-bar::after {
	display: -moz-box;
	content: "";
	background: url("chrome://browser/skin/privatebrowsing-mask.png") center no-repeat;
	width: 30px;
}
