@import url("chrome://treestyletab/skin/metal/tab.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabs-bottom,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabs-left,
tabbrowser[treestyletab-style="metal"][treestyletab-tabbar-position="bottom"]
  .tabs-bottom,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-text-shadow, /* Mac OS X */
tabbrowser[treestyletab-style="metal"][treestyletab-tabbar-position="bottom"]
  .tab-text-shadow /* Mac OS X */ {
	display: none !important;
}


tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tabs * {
	width: 100% !important;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabs-stack {
	background:#797979 url("metal/shadow-active-l.png") repeat-y top right !important;
	border: 1px solid #444444 !important;
	border-width: 1px 0 0 !important;
	padding: 5px 0 0 !important;
}
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabs-stack {
	background:#797979 url("metal/shadow-active-r.png") repeat-y top left !important;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabs-stack {
	background:#acacac url("metal/shadow-inactive-l.png") repeat-y top right !important;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabs-stack {
	background:#acacac url("metal/shadow-inactive-r.png") repeat-y top left !important;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabs-container {
	padding: 0 !important;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .treestyletab-splitter {
	border-style: solid !important;
	border-color: #4e4e4e !important;
	border-width: 0 1px 0 0 !important;
	background: #b3b2b3 !important;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"]
  .treestyletab-splitter {
	border-color: #f4f4f4 !important;
	background: #e4e4e4 !important;
}
tabbrowser[treestyletab-style="metal"][treestyletab-tabbar-position="right"]
  .treestyletab-splitter {
	border-width: 0 0 0 1px !important;
}


tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab .tab-icon {
	margin: -2px 0 0 !important;
	padding: 0 !important;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab .tab-icon .tab-icon-image {
	width: 16px !important;
	height: 16px !important;
	margin: 0 0 0 6px !important;
}
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab .tab-icon .tab-icon-image {
	margin: 0 6px 0 0 !important;
}

tabbrowser[treestyletab-style="metal"][treestyletab-twisty-style][treestyletab-mode="vertical"]
  .treestyletab-twisty-container {
	position: relative;
	margin: 0 6px 0 -6px;
}
tabbrowser[treestyletab-style="metal"][treestyletab-twisty-style][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .treestyletab-twisty-container {
	margin: 0 -12px 0 12px;
}


tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab .tab-text {
	margin: 0 !important;
	padding: 3px 4px 4px !important;
	text-align: center !important;
}

