@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.treestyletab-pseudo-tree-favicon {
	height: 16px;
	max-width: 16px;
	max-height: 16px;
	width: 16px;
}

.treestyletab-pseudo-tree-row {
	box-align: center;
	-moz-box-align: center;
}

.treestyletab-pseudo-tree-row label.text-link {
	box-crop: end;
	-moz-box-crop: end;
}

.treestyletab-pseudo-tree-children {
	margin-left: 1.5em;
	box-align: stretch;
	-moz-box-align: stretch;
}

