@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace xhtml url("http://www.w3.org/1999/xhtml");

*|*.treestyletab-pseudo-tree-favicon {
	height: 16px;
	max-width: 16px;
	max-height: 16px;
	position: relative;
	top: 0.25em;
	width: 16px;
}

*|*.treestyletab-pseudo-tree-item {
	display: block;
	line-height: 1.5;
	margin-bottom: 0.15em;
	white-space: pre;
}

*|*.treestyletab-pseudo-tree-row {
	display: block;
}

*|*.treestyletab-pseudo-tree-row label.text-link {
	display: inline-block;
	margin: 0;
	padding: 0 0 0 0.25em;
	vertical-align: text-top;
	white-space: pre-wrap;
}

*|*.treestyletab-pseudo-tree-children > *|* {
	margin-left: 1.5em;
}

