/* hacks for Tab Mix Plus */

:root[treestyletab-enable-compatibility-tmp="true"]
  .tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-closebutton-topbox > .tabs-closebutton {
	appearance: none !important;
	-moz-appearance: none !important;
	border: 0 none !important;
	-moz-border-top-colors: none !important;
	-moz-border-right-colors: none !important;
	-moz-border-bottom-colors: none !important;
	-moz-border-left-colors: none !important;
	border-top: 1px solid ThreeDShadow !important;
	background: -moz-dialog !important;
}

:root[treestyletab-enable-compatibility-tmp="true"]
  .tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-closebutton-topbox > .tabs-closebutton:hover {
	background: ThreeDHighlight !important;
}

:root[treestyletab-enable-compatibility-tmp="true"]
  .tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-closebutton-topbox > .tabs-closebutton {
	background-image: none !important;
	margin: 0 !important;
	padding: 0 2px !important;
	width: 100% !important;
	min-height: 0 !important;
	height: 16px !important;
}

:root[treestyletab-enable-compatibility-tmp="true"]
  .tabbrowser-tabs[treestyletab-mode="vertical"] .tabs-newtab-topbox > .tabs-newtab-button {
	box-flex: 1;
	-moz-box-flex: 1;
	box-align: center;
	-moz-box-align: center;
	box-pack: center;
	-moz-box-pack: center;
	box-orient: vertical;
	-moz-box-orient: vertical;
}

:root[treestyletab-enable-compatibility-tmp="true"]
  .tabbrowser-tabs[treestyletab-mode="vertical"] .tabbrowser-arrowscrollbox[type="tabmix"] {
	visibility: collapse !important;
}

:root[treestyletab-enable-compatibility-tmp="true"]
  .tabbrowser-tabs[treestyletab-mode="vertical"] .tab-progress {
	margin-top: -2px;
}

:root[treestyletab-enable-compatibility-tmp="true"]
  #tabbrowser-tabs .tabbrowser-tab:not([selected="true"]) {
	background-image: none !important;
}
