@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.treestyletab-twisty-container {
	margin: 0 3px 0 -3px;
	-moz-box-pack: start;
	-moz-box-align: center;
	-moz-box-flex: 1;
}

.treestyletab-twisty {
	list-style-image: url("tree-twisty-expanded.png");
}

tab[treestyletab-subtree-collapsed="true"] .treestyletab-twisty {
	list-style-image: url("tree-twisty-collapsed.png");
}

.treestyletab-counter-container {
	-moz-box-align: center;
	-moz-box-pack: end;
}

.treestyletab-counter {
	font-size: 90%;
	margin: 0;
	padding: 0;
	min-width: 0;
}


.treestyletab-drop-marker-container {
	-moz-box-align: center;
	-moz-box-pack: center;
}

tab[treestyletab-drop-position="self"] .treestyletab-drop-marker {
	list-style-image: url("dropmarker-down.png");
}

tab[treestyletab-drop-position="before"] .treestyletab-drop-marker {
	list-style-image: url("dropmarker-left.png");
}

tab[treestyletab-drop-position="after"] .treestyletab-drop-marker {
	list-style-image: url("dropmarker-right.png");
}

tabbrowser[treestyletab-vertical="true"] tab[treestyletab-drop-position="self"] .treestyletab-drop-marker {
	list-style-image: url("dropmarker-right.png");
}

tabbrowser[treestyletab-vertical="true"] tab[treestyletab-drop-position="before"] .treestyletab-drop-marker {
	list-style-image: url("dropmarker-up.png");
}

tabbrowser[treestyletab-vertical="true"] tab[treestyletab-drop-position="after"] .treestyletab-drop-marker {
	list-style-image: url("dropmarker-down.png");
}

tab[treestyletab-children][treestyletab-drop-position] .treestyletab-twisty,
tab[treestyletab-drop-position] .tab-icon-image,
tab[treestyletab-drop-position] .tab-extra-status {
	visibility: hidden;
}
