@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.treestyletab-tab-tree-twisty-container {
	margin: 0 3px 0 -3px;
	-moz-box-pack: start;
	-moz-box-align: center;
	-moz-box-flex: 1;
}

.treestyletab-tab-tree-twisty {
	-moz-appearance: none;
	border: none;
	outline: none;
	background: none;
	list-style-image: url("tree-twisty-expanded.png");
}

tab[treestyletab-subtree-collapsed="true"] .treestyletab-tab-tree-twisty {
	list-style-image: url("tree-twisty-collapsed.png");
}

.treestyletab-tab-tree-counter-container {
	-moz-box-align: center;
	-moz-box-pack: end;
}

.treestyletab-tab-tree-counter {
	font-size: 90%;
	margin: 0;
	padding: 0;
	min-width: 0;
}

/*
tab[treestyletab-drop-position="self"] {
	border: 2px solid black !important;
}

tab[treestyletab-drop-position="before"] {
	border-top: 2px solid black !important;
}

tab[treestyletab-drop-position="after"] {
	border-bottom: 2px solid black !important;
}
*/
