@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* tree UI */

.treestyletab-counter-container {
	box-align: center;
	-moz-box-align: center;
	box-pack: end;
	-moz-box-pack: end;
}

.treestyletab-counter,
.treestyletab-counter-paren {
	font-size: 90%;
	margin: 0;
	padding: 0;
	min-width: 0;
}


/* drop markers */

.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="before"][selected="true"],
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="before"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="before"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="before"]:not([selected="true"]):hover {
	-moz-border-left-colors: -moz-dialogtext -moz-dialogtext !important;
}

.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="after"][selected="true"],
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="after"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="after"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="after"]:not([selected="true"]):hover {
	-moz-border-right-colors: -moz-dialogtext -moz-dialogtext !important;
}


.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]):hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child[treestyletab-style][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child[treestyletab-style][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child[treestyletab-drop-position="self"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child[treestyletab-drop-position="self"]:not([selected="true"]):hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"],
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]):hover {
	-moz-border-top-colors: -moz-dialogtext -moz-dialogtext !important;
	-moz-border-right-colors: -moz-dialogtext -moz-dialogtext !important;
	-moz-border-bottom-colors: -moz-dialogtext -moz-dialogtext !important;
	-moz-border-left-colors: -moz-dialogtext -moz-dialogtext !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]):hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"],
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]):hover {
	outline: 2px solid !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"]:not([selected="true"]):hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child:not([pinned="true"])[treestyletab-drop-position="before"][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child:not([pinned="true"])[treestyletab-drop-position="before"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child:not([pinned="true"])[treestyletab-drop-position="before"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child:not([pinned="true"])[treestyletab-drop-position="before"]:not([selected="true"]):hover {
	-moz-border-top-colors: -moz-dialogtext -moz-dialogtext !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"]:not([selected="true"]):hover {
	-moz-border-bottom-colors: -moz-dialogtext -moz-dialogtext !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="before"][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="before"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="before"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="before"]:not([selected="true"]):hover {
	-moz-border-left-colors: -moz-dialogtext -moz-dialogtext !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="after"][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="after"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="after"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="after"]:not([selected="true"]):hover {
	-moz-border-right-colors: -moz-dialogtext -moz-dialogtext !important;
}


/* drop marker for horizontal tab bar or the default theme */

.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"]
  .tab-content,
.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"][selected="true"]:hover
  .tab-content,
.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"])
  .tab-content,
.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([selected="true"]):hover
  .tab-content {
	outline: 2px -moz-dialogtext solid !important;
}



tabbrowser[treestyletab-drop-position] {
	appearance: none !important;
	-moz-appearance: none !important;
	border: 2px solid transparent !important;
	-moz-border-top-colors: none !important;
	-moz-border-right-colors: none !important;
	-moz-border-bottom-colors: none !important;
	-moz-border-left-colors: none !important;
}
.tabbrowser-strip[treestyletab-drop-position="center"],
.tabbrowser-strip[treestyletab-drop-position="top"]:not([treestyletab-tabbar-position="top"]),
.tabbrowser-strip[treestyletab-drop-position="right"]:not([treestyletab-tabbar-position="right"]),
.tabbrowser-strip[treestyletab-drop-position="bottom"]:not([treestyletab-tabbar-position="bottom"]),
.tabbrowser-strip[treestyletab-drop-position="left"]:not([treestyletab-tabbar-position="left"]),
.treestyletab-tabbar-toolbar[treestyletab-drop-position="center"],
.treestyletab-tabbar-toolbar[treestyletab-drop-position="top"]:not([treestyletab-tabbar-position="top"]),
.treestyletab-tabbar-toolbar[treestyletab-drop-position="right"]:not([treestyletab-tabbar-position="right"]),
.treestyletab-tabbar-toolbar[treestyletab-drop-position="bottom"]:not([treestyletab-tabbar-position="bottom"]),
.treestyletab-tabbar-toolbar[treestyletab-drop-position="left"]:not([treestyletab-tabbar-position="left"]),
.treestyletab-tabbar-toolbar[treestyletab-drop-position="center"] #treestyletab-tabbar-resizer-box,
.treestyletab-tabbar-toolbar[treestyletab-drop-position="top"]:not([treestyletab-tabbar-position="top"])
  #treestyletab-tabbar-resizer-box,
.treestyletab-tabbar-toolbar[treestyletab-drop-position="right"]:not([treestyletab-tabbar-position="right"])
  #treestyletab-tabbar-resizer-box,
.treestyletab-tabbar-toolbar[treestyletab-drop-position="bottom"]:not([treestyletab-tabbar-position="bottom"])
  #treestyletab-tabbar-resizer-box,
.treestyletab-tabbar-toolbar[treestyletab-drop-position="left"]:not([treestyletab-tabbar-position="left"])
  #treestyletab-tabbar-resizer-box {
	opacity: 0.5;
}
tabbrowser[treestyletab-drop-position="top"]:not([treestyletab-tabbar-position="top"]) {
	border-top-color: -moz-dialogtext !important;
}
tabbrowser[treestyletab-drop-position="right"]:not([treestyletab-tabbar-position="right"]) {
	border-right-color: -moz-dialogtext !important;
}
tabbrowser[treestyletab-drop-position="bottom"]:not([treestyletab-tabbar-position="bottom"]) {
	border-bottom-color: -moz-dialogtext !important;
}
tabbrowser[treestyletab-drop-position="left"]:not([treestyletab-tabbar-position="left"]) {
	border-left-color: -moz-dialogtext !important;
}



/* vertical tab bar */

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-alltabs-stack
  > hbox {
	position: static !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-alltabs-stack
  > hbox:not(:last-child) {
	display: none !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab {
	line-height: 1;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-stack {
	max-height: 999999px; /* by favicons, this box can be shrunken to 16px height. */
	min-height: 22px;
}

/* transaprent tab bar */

.tabbrowser-tabs[treestyletab-tabbar-autohide]
  .tabbrowser-tab {
	opacity: 0.85 !important;
}
.tabbrowser-tabs[treestyletab-tabbar-autohide]:hover
  .tabbrowser-tab {
	opacity: 0.9 !important;
}
.tabbrowser-tabs[treestyletab-tabbar-autohide]:hover
  .tabbrowser-tab[selected="true"],
.tabbrowser-tabs[treestyletab-tabbar-autohide]:hover
  .tabbrowser-tab:hover {
	opacity: 0.95 !important;
}
.tabbrowser-tabs[treestyletab-tabbar-autohide]:hover
  .tabbrowser-tab[selected="true"]:hover {
	opacity: 0.98 !important;
}


/* auto hide */

tabbrowser[treestyletab-tabbar-position="left"]
  .treestyletab-tabbar-toggler {
	border-right: 1px solid ThreeDShadow;
}
tabbrowser[treestyletab-tabbar-position="right"]
  .treestyletab-tabbar-toggler {
	border-left: 1px solid ThreeDShadow;
}
tabbrowser[treestyletab-tabbar-position="bottom"]
  .treestyletab-tabbar-toggler {
	border-top: 1px solid ThreeDShadow;
}
.treestyletab-tabbar-toolbar[treestyletab-tabbar-autohide]
  #treestyletab-tabbar-resizer-box {
	background: rgba(0, 0, 0, 0.25);
}


/* toolbar customization */

.treestyletab-tabbar-toolbar-ready-popup {
	appearance: tooltip;
	-moz-appearance: tooltip;
	max-width: 15em;
	opacity: 0.85;
}

.treestyletab-tabbar-toolbar-ready {
	border: 2px solid -moz-fieldtext !important;
}



/* pinned tabs */
.tabbrowser-tabs[treestyletab-mode="vertical"][positionpinnedtabs="true"] {
	padding-start: 0 !important;
	-moz-padding-start: 0 !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned="true"] {
	height: 24px;
	margin: 0;
	max-height: 24px;
	max-width: 24px;
	padding: 0;
	width: 24px;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned="true"] .tab-stack {
	height: 100%;
	width: 100%;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned="true"] .tab-stack,
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-content[pinned="true"] {
	box-align: center;
	-moz-box-align: center;
	box-pack: center;
	-moz-box-pack: center;
	min-height: 0;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-background[pinned="true"] {
	box-align: stretch;
	-moz-box-align: stretch;
	box-pack: justify;
	-moz-box-pack: justify;
	min-height: 0;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-content[pinned="true"] {
	padding: 0 4px;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-content[pinned="true"] > image {
	height: 16px;
	margin: 0;
	padding: 0;
	width: 16px;
}

/* disable highlighting of pinned tabs whici is not faviconized */

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned][titlechanged]:not([selected="true"]):not(.treestyletab-faviconized) {
	background-image: none;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned][titlechanged]:not([selected="true"]):not(.treestyletab-faviconized):hover {
	background-image: none;
}


/* notification of newly opened tabs in background */

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox
  > .scrollbutton-down[treestyletab-notifybgtab-phase] {
	background: -moz-linear-gradient(-90deg, rgba(255,255,255,0), Highlight);
	border: 0 none;
	bottom: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	height: 2em;
	left: 0;
	margin-top: -2em;
	visibility: visible;
	opacity: 0;
	pointer-events: none;
	position: relative;
	right: 0;
	top: 0;
	transition: 1s opacity ease-out;
	transition: 1s opacity ease-out;
	user-focus: ignore;
	z-index: 99999;
	-moz-user-focus: ignore;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox
  > .scrollbutton-down[treestyletab-notifybgtab-phase="notifying"] {
	opacity: 1;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox
  > .scrollbutton-down > * {
	display: none;
}
