@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* tree UI */

.treestyletab-counter-container {
	-moz-box-align: center;
	-moz-box-pack: end;
}

.treestyletab-counter,
.treestyletab-counter-paren {
	font-size: 90%;
	margin: 0;
	padding: 0;
	min-width: 0;
}


/* drop markers */

.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="before"][visuallyselected="true"],
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="before"][visuallyselected="true"]:hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="before"]:not([visuallyselected="true"]),
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="before"]:not([visuallyselected="true"]):hover {
	-moz-border-left-colors: var(--tst-tab-dropmarker) var(--tst-tab-dropmarker) !important;
}

.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="after"][visuallyselected="true"],
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="after"][visuallyselected="true"]:hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="after"]:not([visuallyselected="true"]),
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[treestyletab-drop-position="after"]:not([visuallyselected="true"]):hover {
	-moz-border-right-colors: var(--tst-tab-dropmarker) var(--tst-tab-dropmarker) !important;
}


.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"][visuallyselected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"][visuallyselected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([visuallyselected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([visuallyselected="true"]):hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child[treestyletab-style][visuallyselected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child[treestyletab-style][visuallyselected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child[treestyletab-drop-position="self"]:not([visuallyselected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child[treestyletab-drop-position="self"]:not([visuallyselected="true"]):hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"][visuallyselected="true"],
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"][visuallyselected="true"]:hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([visuallyselected="true"]),
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"][treestyletab-style]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([visuallyselected="true"]):hover {
	-moz-border-top-colors: var(--tst-tab-dropmarker) var(--tst-tab-dropmarker) !important;
	-moz-border-right-colors: var(--tst-tab-dropmarker) var(--tst-tab-dropmarker) !important;
	-moz-border-bottom-colors: var(--tst-tab-dropmarker) var(--tst-tab-dropmarker) !important;
	-moz-border-left-colors: var(--tst-tab-dropmarker) var(--tst-tab-dropmarker) !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"][visuallyselected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"][visuallyselected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([visuallyselected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([visuallyselected="true"]):hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"][visuallyselected="true"],
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"][visuallyselected="true"]:hover,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([visuallyselected="true"]),
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]:not([treestyletab-style])
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([visuallyselected="true"]):hover {
	outline: 2px solid !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"][visuallyselected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"][visuallyselected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"]:not([visuallyselected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"]:not([visuallyselected="true"]):hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child:not([pinned="true"])[treestyletab-drop-position="before"][visuallyselected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child:not([pinned="true"])[treestyletab-drop-position="before"][visuallyselected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child:not([pinned="true"])[treestyletab-drop-position="before"]:not([visuallyselected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child:not([pinned="true"])[treestyletab-drop-position="before"]:not([visuallyselected="true"]):hover {
	-moz-border-top-colors: var(--tst-tab-dropmarker) var(--tst-tab-dropmarker) !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"][visuallyselected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"][visuallyselected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"]:not([visuallyselected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"]:not([visuallyselected="true"]):hover {
	-moz-border-bottom-colors: var(--tst-tab-dropmarker) var(--tst-tab-dropmarker) !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="before"][visuallyselected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="before"][visuallyselected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="before"]:not([visuallyselected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="before"]:not([visuallyselected="true"]):hover {
	-moz-border-left-colors: var(--tst-tab-dropmarker) var(--tst-tab-dropmarker) !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="after"][visuallyselected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="after"][visuallyselected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="after"]:not([visuallyselected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab[pinned="true"][treestyletab-drop-position="after"]:not([visuallyselected="true"]):hover {
	-moz-border-right-colors: var(--tst-tab-dropmarker) var(--tst-tab-dropmarker) !important;
}


/* drop marker for horizontal tab bar or the default theme */

.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"][visuallyselected="true"]
  .tab-content,
.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"][visuallyselected="true"]:hover
  .tab-content,
.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([visuallyselected="true"])
  .tab-content,
.tabbrowser-tabs[treestyletab-tabbar-position="top"]
  .tabbrowser-tab[treestyletab-drop-position="self"]:not([visuallyselected="true"]):hover
  .tab-content {
	outline: 2px var(--tst-tab-dropmarker) solid !important;
}



tabbrowser[treestyletab-drop-position] {
	-moz-appearance: none !important;
	border: 2px solid transparent !important;
	-moz-border-top-colors: none !important;
	-moz-border-right-colors: none !important;
	-moz-border-bottom-colors: none !important;
	-moz-border-left-colors: none !important;
}
.tabbrowser-strip[treestyletab-drop-position="center"],
.tabbrowser-strip[treestyletab-drop-position="top"]:not([treestyletab-tabbar-position="top"]),
.tabbrowser-strip[treestyletab-drop-position="right"]:not([treestyletab-tabbar-position="right"]),
.tabbrowser-strip[treestyletab-drop-position="bottom"]:not([treestyletab-tabbar-position="bottom"]),
.tabbrowser-strip[treestyletab-drop-position="left"]:not([treestyletab-tabbar-position="left"]),
.treestyletab-tabbar-toolbar[treestyletab-drop-position="center"],
.treestyletab-tabbar-toolbar[treestyletab-drop-position="top"]:not([treestyletab-tabbar-position="top"]),
.treestyletab-tabbar-toolbar[treestyletab-drop-position="right"]:not([treestyletab-tabbar-position="right"]),
.treestyletab-tabbar-toolbar[treestyletab-drop-position="bottom"]:not([treestyletab-tabbar-position="bottom"]),
.treestyletab-tabbar-toolbar[treestyletab-drop-position="left"]:not([treestyletab-tabbar-position="left"]),
.treestyletab-tabbar-toolbar[treestyletab-drop-position="center"] #treestyletab-tabbar-resizer-box,
.treestyletab-tabbar-toolbar[treestyletab-drop-position="top"]:not([treestyletab-tabbar-position="top"])
  #treestyletab-tabbar-resizer-box,
.treestyletab-tabbar-toolbar[treestyletab-drop-position="right"]:not([treestyletab-tabbar-position="right"])
  #treestyletab-tabbar-resizer-box,
.treestyletab-tabbar-toolbar[treestyletab-drop-position="bottom"]:not([treestyletab-tabbar-position="bottom"])
  #treestyletab-tabbar-resizer-box,
.treestyletab-tabbar-toolbar[treestyletab-drop-position="left"]:not([treestyletab-tabbar-position="left"])
  #treestyletab-tabbar-resizer-box {
	opacity: 0.5;
}
tabbrowser[treestyletab-drop-position="top"]:not([treestyletab-tabbar-position="top"]) {
	border-top-color: var(--tst-tab-dropmarker) !important;
}
tabbrowser[treestyletab-drop-position="right"]:not([treestyletab-tabbar-position="right"]) {
	border-right-color: var(--tst-tab-dropmarker) !important;
}
tabbrowser[treestyletab-drop-position="bottom"]:not([treestyletab-tabbar-position="bottom"]) {
	border-bottom-color: var(--tst-tab-dropmarker) !important;
}
tabbrowser[treestyletab-drop-position="left"]:not([treestyletab-tabbar-position="left"]) {
	border-left-color: var(--tst-tab-dropmarker) !important;
}


.treestyletab-tabbar-drop-area {
	-moz-appearance: none;
	background: rgba(0, 0, 0, 0.01);
	border: none;
	box-shadow: none;
	position: fixed;
}



/* vertical tab bar */

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-alltabs-stack
  > hbox {
	position: static !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-alltabs-stack
  > hbox:not(:last-child) {
	display: none !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab {
	line-height: 1;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-stack {
	max-height: 999999px; /* by favicons, this box can be shrunken to 16px height. */
	min-height: 22px;
}

.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"]
  toolbarbutton:not(.tab-close-button)
  > .toolbarbutton-icon {
	/**
	 * This is required to block the tab bar to be shrunken.
	 * See: https://github.com/piroor/treestyletab/issues/964#issuecomment-153781248
	 */
	max-width: none !important;
	/**
	 * But we still have to set maximum size of the icon
	 * to shrink the size of high-res icons.
	 * See: https://github.com/piroor/treestyletab/issues/964#issuecomment-153801249
	 */
	max-height: 16px;
}

.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"]
  toolbaritem {
	/**
	 * This is required to block the tab bar to be shrunken.
	 * See: https://github.com/piroor/treestyletab/issues/964#issuecomment-153781248
	 */
	min-width: 0 !important;
}

/* transaprent tab bar */

.tabbrowser-tabs[treestyletab-tabbar-autohide]
  .tabbrowser-tab {
	opacity: 0.85 !important;
}
.tabbrowser-tabs[treestyletab-tabbar-autohide]:hover
  .tabbrowser-tab {
	opacity: 0.9 !important;
}
.tabbrowser-tabs[treestyletab-tabbar-autohide]:hover
  .tabbrowser-tab[visuallyselected="true"],
.tabbrowser-tabs[treestyletab-tabbar-autohide]:hover
  .tabbrowser-tab:hover {
	opacity: 0.95 !important;
}
.tabbrowser-tabs[treestyletab-tabbar-autohide]:hover
  .tabbrowser-tab[visuallyselected="true"]:hover {
	opacity: 0.98 !important;
}


/* auto hide */

tabbrowser:not([treestyletab-tabbar-position="top"])
  .treestyletab-tabbar-toggler,
.treestyletab-tabbar-toolbar[treestyletab-tabbar-autohide]
  #treestyletab-tabbar-resizer-box {
	background: rgba(0, 0, 0, 0.25);
}


/* toolbar customization */

.treestyletab-tabbar-toolbar-ready-popup {
	-moz-appearance: tooltip;
	max-width: 15em;
	opacity: 0.85;
}

.treestyletab-tabbar-toolbar-ready {
	border: 2px solid -moz-fieldtext !important;
}



/* pinned tabs */
.tabbrowser-tabs[treestyletab-mode="vertical"][positionpinnedtabs="true"] {
	-moz-padding-start: 0 !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned="true"] {
	height: 24px;
	margin: 0;
	max-height: 24px;
	max-width: 24px;
	padding: 0;
	width: 24px;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned="true"] .tab-stack {
	height: 100%;
	width: 100%;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned="true"] .tab-stack,
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-content[pinned="true"] {
	-moz-box-align: center;
	-moz-box-pack: center;
	min-height: 0;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-background[pinned="true"] {
	-moz-box-align: stretch;
	-moz-box-pack: justify;
	min-height: 0;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-content[pinned="true"] {
	padding: 0 4px;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-content[pinned="true"] > image:not(.tab-icon-overlay) {
	height: 16px;
	margin: 0;
	padding: 0;
	width: 16px;
}

/* sharing overlay icon */
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-content[pinned="true"] > image.tab-sharing-icon-overlay {
	margin-left: -16px;
}

/* overlay icon: because TST applies "min-height:2em" for tabs, overlay icons also should be rendered based on the "em" scale. */
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-content[pinned="true"] > image.tab-icon-overlay {
	height: 1em;
	width: 1em;
	margin-top: -0.7em !important;
	-moz-margin-start: -1em !important;
}

/* disable highlighting of pinned tabs whici is not faviconized */

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned][titlechanged]:not([visuallyselected="true"]):not(.treestyletab-faviconized) {
	background-image: none;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned][titlechanged]:not([visuallyselected="true"]):not(.treestyletab-faviconized):hover {
	background-image: none;
}


/* expand tab label container to avoid cropped label
   See: https://github.com/piroor/treestyletab/issues/1228 */

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab:not([pinned])
  .tab-label-container {
	margin-top: -0.25em;
	margin-bottom: -0.25em;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}


/* notification of newly opened tabs in background */

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox
  > .scrollbutton-down[treestyletab-notifybgtab-phase] {
	background: linear-gradient(-90deg, rgba(255,255,255,0), Highlight);
	border: 0 none;
	bottom: 0;
	box-shadow: none;
	height: 2em;
	left: 0;
	margin-top: -2em;
	visibility: visible;
	opacity: 0;
	pointer-events: none;
	position: relative;
	right: 0;
	top: 0;
	transition: 1s opacity ease-out;
	z-index: 99999;
	-moz-user-focus: ignore;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox
  > .scrollbutton-down[treestyletab-notifybgtab-phase="notifying"] {
	opacity: 1;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox
  > .scrollbutton-down > * {
	display: none;
}

.tabbrowser-tab[treestyletab-highlighted] {
	outline: transparent solid 0.2em;
	outline-offset: -0.2em;
	-moz-outline-radius: 0.25em;
}
.tabbrowser-tab[treestyletab-highlighted='notifying'] {
	outline: Highlight solid 0.2em;
}
