@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@media (-moz-windows-compositor) {

/**
 * Cancel "tabs on top" appearance on Australis.
 */
#main-window[sizemode="normal"]:not([treestyletab-tabbar-position="top"])
  #browser-panel
  > #navigator-toolbox
  > #nav-bar:not(:-moz-lwtheme),
#main-window[sizemode="normal"]:not([treestyletab-tabbar-position="top"])
  #browser-panel
  > #navigator-toolbox
  > #nav-bar:not(:-moz-lwtheme):-moz-window-inactive {
	background: transparent;
	border-top: none !important;
	border-left: none;
	border-right: none;
	box-shadow: none;
	position: relative;
	margin-top: -5px;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	-moz-binding: url("chrome://browser/content/customizableui/toolbar.xml#toolbar-drag");
}

/* show in titlebar mode */
#main-window[sizemode="normal"][tabsintitlebar="true"][treestyletab-allow-toolbox-in-titlebar="true"]:not([treestyletab-tabbar-position="top"])
  #browser-panel
  > #navigator-toolbox
  > #nav-bar:not(:-moz-lwtheme),
#main-window[sizemode="normal"][tabsintitlebar="true"][treestyletab-allow-toolbox-in-titlebar="true"]:not([treestyletab-tabbar-position="top"])
  #browser-panel
  > #navigator-toolbox
  > #nav-bar:not(:-moz-lwtheme):-moz-window-inactive {
	margin-top: 1.5em;
}

}
