/* horizontal tree */

.tabbrowser-tabs[treestyletab-tabbar-position="top"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab:not([visuallyselected="true"]),
.tabbrowser-tabs[treestyletab-tabbar-position="top"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab[visuallyselected="true"],
.tabbrowser-tabs[treestyletab-tabbar-position="top"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab:hover:not([visuallyselected="true"]),
.tabbrowser-tabs[treestyletab-tabbar-position="top"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab:hover[visuallyselected="true"] {
	border-radius: 0 0 0 0;
	border-top-width: 1px;
	height: auto;
	margin-bottom: 3px;
	padding-bottom: 0;
	padding-top: 0;
}

/* bottom border of the "Tabs on Bottom" toolbox */
:root[treestyletab-mode="vertical"]:not([disablechrome])
  #navigator-toolbox[tabsontop="false"]::after {
	visibility: visible;
}
