.tabbrowser-tab[selected="true"] .tab-icon-image {
	list-style-image: url("chrome://global/skin/tree/item.png");
}

.tabbrowser-tab[busy] .tab-icon-image {
	list-style-image: url("chrome://global/skin/icons/loading_16.png") !important;
}

.tabbrowser-tab:not(:hover):not([selected="true"]) .tab-icon-image {
	opacity: .6;
}
