@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

[id="extensions.treestyletab.tabbar.style-radiogroup"] radio[src] .radio-icon {
	width: 52px;
	height: 62px;
}

[id="extensions.treestyletab.twisty.style-radiogroup"] radio[src] .radio-icon {
	width: 24px;
	height: 24px;
}

arrowscrollbox[overflow="true"] {
	border: 1px inset ThreeDFace;
}
