@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* hacks for Tab Mix Plus */

:root[treestyletab-enable-compatibility-tmp="true"]
  tabbrowser[treestyletab-mode="vertical"] #vide-bar,
:root[treestyletab-enable-compatibility-tmp="true"]
  tabbrowser[treestyletab-mode="vertical"] #tabs-scroll-up-down-box,
:root[treestyletab-enable-compatibility-tmp="true"]
  tabbrowser[treestyletab-mode="vertical"] #alltabs-place-holder,
:root[treestyletab-enable-compatibility-tmp="true"]
  tabbrowser[treestyletab-mode="vertical"] .tabs-scroll {
	visibility: collapse !important;
}

:root[treestyletab-enable-compatibility-tmp="true"]
  tabbrowser[treestyletab-mode="vertical"] tabs[flowing] > * .tabs-frame {
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

:root[treestyletab-enable-compatibility-tmp="true"]
  tabbrowser[treestyletab-mode="vertical"] tabs[flowing] > * .tabs-frame {
	box-flex: 1 !important;
	-moz-box-flex: 1 !important;
}

.tabbrowser-tab[pinned] > .tab-image-left,
.tabbrowser-tab[pinned] > .tab-drag-indicator-left,
.tabbrowser-tab[pinned] > .tab-drag-indicator-right,
.tabbrowser-tab[pinned] > .tab-image-right {
	display: none;
}
