@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

tab .treestyletab-twisty,
tab .treestyletab-counter-container,
tab .treestyletab-drop-marker,
tab[treestyletab-children]:not([treestyletab-subtree-collapsed="true"]) .treestyletab-counter-container,
tabbrowser:not([treestyletab-vertical="true"]) > tabbox > splitter {
	display: none;
}

tab[treestyletab-children] .treestyletab-twisty,
tab[treestyletab-children] .treestyletab-counter-container,
tab[treestyletab-drop-position] .treestyletab-drop-marker {
	display: -moz-box;
}

tab[treestyletab-collapsed="true"],
.tabbrowser-strip[collapsed="true"]+splitter,
#appcontent[ahFull="true"] .tabbrowser-strip[ahHIDE="true"]+splitter /* AutoHide */ {
	visibility: collapse;
}

tabbrowser[treestyletab-vertical="true"] .tabbrowser-arrowscrollbox > .scrollbutton-up,
tabbrowser[treestyletab-vertical="true"] .tabbrowser-arrowscrollbox > .scrollbutton-down-stack,
tabbrowser[treestyletab-vertical="true"] .tabs-alltabs-stack,
tabbrowser[treestyletab-vertical="true"] .tabbrowser-arrowscrollbox + stack, /* "all tabs" button in Firefox 3 */
tabbrowser[treestyletab-vertical="true"] .tabs-closebutton-box,
tabbrowser[treestyletab-vertical="true"] .tab-drop-indicator-bar
 {
	display: none !important;
}

/* to modify browser's margin dynamically */
#appcontent {
	position: relative;
	margin: 0;
}

tabbrowser[treestyletab-vertical="true"] > tabbox {
	-moz-box-orient: horizontal !important;
}

tabbrowser[treestyletab-vertical="true"] .tabbrowser-arrowscrollbox > scrollbox {
	overflow-x: hidden;
	overflow-y: auto;
}

tabbrowser[treestyletab-vertical="true"] .tabs-stack > * + * > hbox {
	-moz-box-flex: 1 !important;
}

/*
tabbrowser[treestyletab-vertical="true"] .tabbrowser-arrowscrollbox > scrollbox > .scrollbox-innerbox {
	-moz-box-flex: 0 !important;
}
*/

tabbrowser[treestyletab-tabbar-position="left"][treestyletab-scrollbar-inverted="true"] .tabbrowser-arrowscrollbox > scrollbox {
	direction: rtl !important;
}

tabbrowser[treestyletab-tabbar-position="left"][treestyletab-scrollbar-inverted="true"] .tabbrowser-arrowscrollbox > scrollbox > .scrollbox-innerbox {
	direction: ltr !important;
}



tabbrowser[treestyletab-vertical="true"][treestyletab-appearance-inverted="true"] .tabbrowser-tab .tab-image-middle {
	-moz-box-ordinal-group: 20;
}

tabbrowser[treestyletab-vertical="true"][treestyletab-appearance-inverted="true"] .tabbrowser-tab .tab-close-button {
	-moz-box-ordinal-group: 10;
}


tabbrowser[treestyletab-vertical="true"][treestyletab-appearance-inverted="true"] .tabbrowser-tab .tab-icon {
	-moz-box-ordinal-group: 50;
}

tabbrowser[treestyletab-vertical="true"][treestyletab-appearance-inverted="true"] .tabbrowser-tab html|canvas.informationaltab-thumbnail {
	-moz-box-ordinal-group: 10;
}

tabbrowser[treestyletab-vertical="true"][treestyletab-appearance-inverted="true"] .tabbrowser-tab .tab-text {
	-moz-box-ordinal-group: 20;
}

tabbrowser[treestyletab-vertical="true"][treestyletab-appearance-inverted="true"] .tabbrowser-tab .treestyletab-counter-container {
	-moz-box-ordinal-group: 30;
}

