@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* tab bar */

:root:not([active="true"]) 
  .tabbrowser-strip[treestyletab-style~="metal"][treestyletab-mode="vertical"] {
	background: #acacac !important;
	border-color: #797979 !important;
}
:root:not([active="true"])
  .tabbrowser-strip[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-style~="aero"] {
	background: transparent !important;
}

:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox,
:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][overflow="true"]
  .tabbrowser-arrowscrollbox .scrollbox-innerbox {
	background: url("shadow-inactive-l.png") repeat-y top right !important;
}
:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox,
:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"][overflow="true"]
  .tabbrowser-arrowscrollbox .scrollbox-innerbox {
	background: url("shadow-inactive-r.png") repeat-y top left !important;
}

:root:not([active="true"]) tabbrowser[treestyletab-style~="metal"]
  .treestyletab-splitter {
	border-color: #666666 !important;
	background: #e4e4e4 !important;
}


/* buttons in the tab bar */

:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tabs-newtab-button,
:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tabs-newtab-button:hover,
:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tabs-alltabs-button,
:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tabs-alltabs-button:hover,
:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tabs-container > .tabs-closebutton,
:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  > .tabs-closebutton,
:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tabs-container > .tabs-closebutton:hover,
:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  > .tabs-closebutton:hover {
	background: #e4e4e4 !important;
	border-color: #666666 !important;
}

:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]:not([treestyletab-tab-inverted="true"])
  .tabbrowser-arrowscrollbox .tabs-newtab-button {
	background: #cecece url("shadow-inactive-l.png") repeat-y top right !important;
	border-color: #9a9a9a !important;
}
:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tabbrowser-arrowscrollbox .tabs-newtab-button {
	background: #cecece url("shadow-inactive-r.png") repeat-y top left !important;
	border-color: #9a9a9a !important;
}


/* hacks for Tab Mix Plus */

:root[treestyletab-enable-compatibility-tmp="true"]:not([active="true"])
  tabbrowser[treestyletab-style~="metal"][treestyletab-mode="vertical"] .tabs-closebutton-topbox > .tabs-closebutton,
:root[treestyletab-enable-compatibility-tmp="true"]:not([active="true"])
  tabbrowser[treestyletab-style~="metal"][treestyletab-mode="vertical"] .tabs-closebutton-topbox > .tabs-closebutton:hover {
	background: #e4e4e4 !important;
	border-color: #666666 !important;
}
