@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* tab bar */

.treestyletab-tabbar-toolbar:not([treestyletab-tabbar-position="top"]),
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="top"]:not([treestyletab-tabbar-fixed="true"]) {
	appearance: none !important;
	-moz-appearance: none !important;
	background: transparent !important;
	border: 0 none !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabs-bottom,
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-left,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tab-text-shadow /* Mac OS X */ {
	display: none !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab:first-child,
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab:first-child:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab:first-child[visuallyselected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab:first-child[visuallyselected="true"]:hover {
	margin-top: 5px !important;
}

.tabbrowser-strip[treestyletab-mode="vertical"] {
	background: #797979 !important;
	border: 1px solid #444444 !important;
	border-width: 1px 0 0 !important;
	padding: 0 !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"] {
	appearance: none !important;
	-moz-appearance: none !important;
	background: transparent !important;
	margin: 0;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox,
.tabbrowser-tabs[treestyletab-mode="vertical"][overflow="true"]
  .tabbrowser-arrowscrollbox
  scrollbox {
	background-image: url("shadow-active-l.png") !important;
	background-repeat: repeat-y !important;
	background-position: top right !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-tab-inverted="true"][overflow="true"]
  .tabbrowser-arrowscrollbox
  scrollbox {
	background-image: url("shadow-active-r.png") !important;
	background-repeat: repeat-y !important;
	background-position: top left !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-container,
.treestyletab-tabbar-toolbar
  .tabbrowser-tabs[treestyletab-mode="vertical"] {
	padding: 0 !important;
}

tabbrowser[treestyletab-mode="vertical"]
  .treestyletab-splitter,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"]
  .treestyletab-splitter {
	appearance: none !important;
	-moz-appearance: none !important;
	background: #b3b2b3 !important;
	border: 0 solid #666666 !important;
	min-width: 5px;
}
tabbrowser[treestyletab-tabbar-position="left"]
  .treestyletab-splitter,
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="left"]
  .treestyletab-splitter,
.tabbrowser-strip[treestyletab-tabbar-position="left"][treestyletab-tabbar-fixed="true"],
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="left"][treestyletab-tabbar-fixed="true"] {
	border-right: 1px solid #666666 !important;
}
tabbrowser[treestyletab-tabbar-position="right"]
  .treestyletab-splitter,
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="right"]
  .treestyletab-splitter,
.tabbrowser-strip[treestyletab-tabbar-position="right"][treestyletab-tabbar-fixed="true"],
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="right"][treestyletab-tabbar-fixed="true"] {
	border-left: 1px solid #666666 !important;
}

:root:-moz-window-inactive
  .tabbrowser-strip[treestyletab-mode="vertical"] {
	background: #acacac !important;
	border-color: #797979 !important;
}
:root:-moz-window-inactive
  .tabbrowser-strip[treestyletab-mode="vertical"][treestyletab-style~="aero"],
:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style~="aero"]
  .scrollbox-innerbox {
	background: transparent !important;
}

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-mode="vertical"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox,
:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-mode="vertical"][overflow="true"]
  .tabbrowser-arrowscrollbox
  scrollbox {
	background-image: url("shadow-inactive-l.png") !important;
	background-repeat: repeat-y !important;
	background-position: top right !important;
}
:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox,
:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-tab-inverted="true"][overflow="true"]
  .tabbrowser-arrowscrollbox
  scrollbox {
	background-image: url("shadow-inactive-r.png") !important;
	background-repeat: repeat-y !important;
	background-position: top left !important;
}

:root:-moz-window-inactive
  tabbrowser
  .treestyletab-splitter,
:root:-moz-window-inactive
  .treestyletab-tabbar-toolbar
  .treestyletab-splitter {
	border-color: #666666 !important;
	background: #e4e4e4 !important;
}


/* tab contents */

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab
  label {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab:hover
  .tab-icon,
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[visuallyselected="true"]:hover
  .tab-icon {
	background: url("icon-bg.png") no-repeat right center !important;
}
.tabbrowser-tabs[treestyletab-tab-contents-inverted="true"]
  .tabbrowser-tab:hover
  .tab-icon,
.tabbrowser-tabs[treestyletab-tab-contents-inverted="true"]
  .tabbrowser-tab[visuallyselected="true"]:hover
  .tab-icon {
	background-position: left center !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab
  .tab-icon
  .tab-icon-image,
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab
  .tab-icon
  .tab-throbber {
	width: 16px !important;
	height: 16px !important;
	margin: 0 0 0 6px !important;
}
.tabbrowser-tabs[treestyletab-tab-contents-inverted="true"]
  .tabbrowser-tab
  .tab-icon
  .tab-icon-image,
.tabbrowser-tabs[treestyletab-tab-contents-inverted="true"]
  .tabbrowser-tab
  .tab-icon
  .tab-throbber {
	margin: 0 6px 0 0 !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab
  .tab-text {
	margin: 0 !important;
	padding: 3px 4px 4px !important;
	text-align: center !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab
  .tab-close-button {
	z-index: 1 !important; /* for Linux */
	margin-left: 0 !important;
	margin-right: 0 !important;
	/* padding: 3px 4px 4px !important; */
	padding: 3px 0 4px !important;
	text-align: center !important;
}


/* twisty */

.tabbrowser-tabs[treestyletab-twisty-style][treestyletab-mode="vertical"]
  .tabbrowser-tab:not([pinned="true"])
  .treestyletab-twisty-container {
	position: relative;
	margin: 0 6px 0 -6px;
}
.tabbrowser-tabs[treestyletab-twisty-style="retro"][treestyletab-mode="vertical"]
  .tabbrowser-tab:not([pinned="true"])
  .treestyletab-twisty-container {
	margin: 0;
}
.tabbrowser-tabs[treestyletab-twisty-style="retro"]:not([treestyletab-tab-contents-inverted="true"])
  .tabbrowser-tab:not([pinned="true"])
  .tab-icon {
	margin-left: 6px !important;
}
.tabbrowser-tabs[treestyletab-twisty-style][treestyletab-tab-contents-inverted="true"]
  .tabbrowser-tab:not([pinned="true"])
  .treestyletab-twisty-container {
	margin: 0 -12px 0 12px;
}
.tabbrowser-tabs[treestyletab-twisty-style="retro"][treestyletab-tab-contents-inverted="true"]
  .tabbrowser-tab:not([pinned="true"])
  .treestyletab-twisty-container {
	margin: 0 -6px 0 6px;
}
.tabbrowser-tabs[treestyletab-twisty-style="retro"][treestyletab-tab-contents-inverted="true"]
  .tabbrowser-tab:not([pinned="true"])
  .tab-icon {
	margin-right: 6px !important;
}



/* buttons in the tab bar */

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-newtab-button,
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-newtab-button:hover,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"]
  > toolbarbutton,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"]
  > toolbarbutton:hover,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"]
  > toolbarpaletteitem
  > toolbarbutton,
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"]
  > toolbarpaletteitem
  > toolbarbutton:hover {
	background: #b3b2b3 !important;
	border-top: 1px solid #666666 !important;
}


.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button {
	margin-top: 1px !important;
	height: 18px !important;
	border: 1px solid #666666 !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-tab-inverted="true"])
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button {
	background: #9a9a9a url("shadow-active-l.png") repeat-y top right !important;
	margin-left: 6px !important;
	border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
}
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button {
	background: #9a9a9a url("shadow-active-r.png") repeat-y top left !important;
	margin-right: 6px !important;
	-moz-border-radius: 0 6px 6px 0;
}

.tabbrowser-tabs[treestyletab-tabbar-position="left"]
  .tabs-newtab-button,
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="left"]
  > toolbarbutton,
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="left"]
  > toolbarpaletteitem
  > toolbarbutton {
	border-right: 1px solid #666666 !important;
}

.tabbrowser-tabs[treestyletab-tabbar-position="right"]
  .tabs-newtab-button,
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="right"]
  > toolbarbutton,
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="right"]
  > toolbarpaletteitem
  > toolbarbutton {
	border-left: 1px solid #666666 !important;
}


:root:-moz-window-inactive
  .treestyletab-tabbar-toolbar[treestyletab-mode="vertical"]
  > toolbarbutton,
:root:-moz-window-inactive
  .treestyletab-tabbar-toolbar[treestyletab-mode="vertical"]
  > toolbarbutton:hover,
:root:-moz-window-inactive
  .treestyletab-tabbar-toolbar[treestyletab-mode="vertical"]
  > toolbarpaletteitem
  > toolbarbutton,
:root:-moz-window-inactive
  .treestyletab-tabbar-toolbar[treestyletab-mode="vertical"]
  > toolbarpaletteitem
  > toolbarbutton:hover {
	background: #e4e4e4 !important;
	border-color: #666666 !important;
}

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-mode="vertical"]:not([treestyletab-tab-inverted="true"])
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button {
	background: #cecece url("shadow-inactive-l.png") repeat-y top right !important;
	border-color: #9a9a9a !important;
}
:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button {
	background: #cecece url("shadow-inactive-r.png") repeat-y top left !important;
	border-color: #9a9a9a !important;
}



/* hacks for Tab Mix Plus */

/* buttons in the tab bar */

:root[treestyletab-enable-compatibility-tmp="true"]
  tabbrowser[treestyletab-mode="vertical"]
  .tabs-closebutton-topbox
  > .tabs-closebutton,
:root[treestyletab-enable-compatibility-tmp="true"]
  tabbrowser[treestyletab-mode="vertical"]
  .tabs-closebutton-topbox
  > .tabs-closebutton:hover {
	background: #b3b2b3 !important;
	border-top: 1px solid #666666 !important;
}

:root[treestyletab-enable-compatibility-tmp="true"]
  tabbrowser[treestyletab-tabbar-position="left"]
  .tabs-closebutton-topbox
  > .tabs-closebutton {
	border-right: 1px solid #666666 !important;
}

:root[treestyletab-enable-compatibility-tmp="true"]
  tabbrowser[treestyletab-tabbar-position="right"]
  .tabs-closebutton-topbox
  > .tabs-closebutton {
	border-left: 1px solid #666666 !important;
}

:root[treestyletab-enable-compatibility-tmp="true"]:-moz-window-inactive
  tabbrowser[treestyletab-mode="vertical"]
  .tabs-closebutton-topbox
  > .tabs-closebutton,
:root[treestyletab-enable-compatibility-tmp="true"]:-moz-window-inactive
  tabbrowser[treestyletab-mode="vertical"]
  .tabs-closebutton-topbox
  > .tabs-closebutton:hover {
	background: #e4e4e4 !important;
	border-color: #666666 !important;
}
