@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* tab bar */

:root:-moz-window-inactive
  .tabbrowser-strip[treestyletab-style="metal"][treestyletab-mode="vertical"] {
	background: #acacac !important;
	border-color: #797979 !important;
}

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style="metal"][treestyletab-mode="vertical"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox,
:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style="metal"][treestyletab-mode="vertical"][overflow="true"]
  .tabbrowser-arrowscrollbox .scrollbox-innerbox {
	background: url("shadow-inactive-l.png") repeat-y top right !important;
}
:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox,
:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"][overflow="true"]
  .tabbrowser-arrowscrollbox .scrollbox-innerbox {
	background: url("shadow-inactive-r.png") repeat-y top left !important;
}

:root:-moz-window-inactive tabbrowser[treestyletab-style="metal"]
  .treestyletab-splitter {
	border-color: #666666 !important;
	background: #e4e4e4 !important;
}


/* buttons in the tab bar */

:root:-moz-window-inactive
  #TabsToolbar[treestyletab-style="metal"][treestyletab-mode="vertical"]
  > toolbarbutton,
:root:-moz-window-inactive
  #TabsToolbar[treestyletab-style="metal"][treestyletab-mode="vertical"]
  > toolbarbutton:hover,
:root:-moz-window-inactive
  #TabsToolbar[treestyletab-style="metal"][treestyletab-mode="vertical"]
  > toolbarpaletteitem > toolbarbutton,
:root:-moz-window-inactive
  #TabsToolbar[treestyletab-style="metal"][treestyletab-mode="vertical"]
  > toolbarpaletteitem > toolbarbutton:hover {
	background: #e4e4e4 !important;
	border-color: #666666 !important;
}

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style="metal"][treestyletab-mode="vertical"]:not([treestyletab-tab-inverted="true"])
  .tabbrowser-arrowscrollbox .tabs-newtab-button {
	background: #cecece url("shadow-inactive-l.png") repeat-y top right !important;
	border-color: #9a9a9a !important;
}
:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tabbrowser-arrowscrollbox .tabs-newtab-button {
	background: #cecece url("shadow-inactive-r.png") repeat-y top left !important;
	border-color: #9a9a9a !important;
}



/* hacks for Tab Mix Plus */

:root[treestyletab-enable-compatibility-tmp="true"]:-moz-window-inactive
  tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabs-closebutton-topbox > .tabs-closebutton,
:root[treestyletab-enable-compatibility-tmp="true"]:-moz-window-inactive
  tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabs-closebutton-topbox > .tabs-closebutton:hover {
	background: #e4e4e4 !important;
	border-color: #666666 !important;
}
