@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* background, left */

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tab-image-left {
	-moz-border-image: url("tab-inactive-l.png") 10 / 10px 0 10px 10px;
}

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tab-image-middle,
:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tab-close-button {
	-moz-border-image: url("tab-inactive-l.png") 10 / 10px 0 10px 0;
}

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tab-image-right {
	-moz-border-image: url("tab-inactive-l.png") 10 5 10 10 / 10px 5px 10px 0;
}



/* background, right */

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tab-image-left {
	-moz-border-image: url("tab-inactive-r.png") 10 10 10 5 / 10px 0 10px 5px;
}

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tab-image-middle,
:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tab-close-button {
	-moz-border-image: url("tab-inactive-r.png") 10 / 10px 0 10px 0;
}

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tab-image-right {
	-moz-border-image: url("tab-inactive-r.png") 10 / 10px 10px 10px 0;
}



/* foreground, left */

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tab-image-left[selected="true"] {
	-moz-border-image: url("tab-inactive-selected-l.png") 10 / 10px 0 10px 10px;
}

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tab-image-middle[selected="true"],
:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  [selected="true"] .tab-close-button {
	-moz-border-image: url("tab-inactive-selected-l.png") 10 / 10px 0 10px 0;
}

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tab-image-right[selected="true"] {
	-moz-border-image: url("tab-inactive-selected-l.png") 10 5 10 10 / 10px 5px 10px 0;
}



/* foreground, right */

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tab-image-left[selected="true"] {
	-moz-border-image: url("tab-inactive-selected-r.png") 10 10 10 5 / 10px 0 10px 5px;
}

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tab-image-middle[selected="true"],
:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  [selected="true"] .tab-close-button {
	-moz-border-image: url("tab-inactive-selected-r.png") 10 / 10px 0 10px 0;
}

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tab-image-right[selected="true"] {
	-moz-border-image: url("tab-inactive-selected-r.png") 10 / 10px 10px 10px 0;
}


/* pinned tabs */

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned="true"] >
  .tab-image-middle,
:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned="true"]:hover >
  .tab-image-middle {
	background: #cecece !important;
}

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned="true"][selected="true"] >
  .tab-image-middle,
:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned="true"][selected="true"]:hover >
  .tab-image-middle {
	background: #e4e4e4 !important;
}

:root:-moz-window-inactive
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned="true"] >
  .tab-image-middle {
	border-color: #9a9a9a !important;
}
