@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* background, left */

:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tab-image-left {
	-moz-border-image: url("tab-inactive-l.png") 10 / 10px 0 10px 10px;
}

:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tab-image-middle,
:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tab-close-button {
	-moz-border-image: url("tab-inactive-l.png") 10 / 10px 0 10px 0;
}

:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tab-image-right {
	-moz-border-image: url("tab-inactive-l.png") 10 5 10 10 / 10px 5px 10px 0;
}



/* background, right */

:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tab-image-left {
	-moz-border-image: url("tab-inactive-r.png") 10 10 10 5 / 10px 0 10px 5px;
}

:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tab-image-middle,
:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tab-close-button {
	-moz-border-image: url("tab-inactive-r.png") 10 / 10px 0 10px 0;
}

:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tab-image-right {
	-moz-border-image: url("tab-inactive-r.png") 10 / 10px 10px 10px 0;
}



/* foreground, left */

:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tab-image-left[selected="true"] {
	-moz-border-image: url("tab-inactive-selected-l.png") 10 / 10px 0 10px 10px;
}

:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tab-image-middle[selected="true"],
:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  [selected="true"] .tab-close-button {
	-moz-border-image: url("tab-inactive-selected-l.png") 10 / 10px 0 10px 0;
}

:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"]
  .tab-image-right[selected="true"] {
	-moz-border-image: url("tab-inactive-selected-l.png") 10 5 10 10 / 10px 5px 10px 0;
}



/* foreground, right */

:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tab-image-left[selected="true"] {
	-moz-border-image: url("tab-inactive-selected-r.png") 10 10 10 5 / 10px 0 10px 5px;
}

:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tab-image-middle[selected="true"],
:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  [selected="true"] .tab-close-button {
	-moz-border-image: url("tab-inactive-selected-r.png") 10 / 10px 0 10px 0;
}

:root:not([active="true"])
  .tabbrowser-tabs[treestyletab-style~="metal"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tab-image-right[selected="true"] {
	-moz-border-image: url("tab-inactive-selected-r.png") 10 / 10px 10px 10px 0;
}

