@import url("tab-base.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* background images */

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-content {
	position: relative !important;
	margin: -10px -5px -10px -10px !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tab-content {
	margin-left: -5px !important;
	margin-right: -10px !important;
}
