@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab:hover,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"],
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"]:hover {
	background: none transparent !important;
	border: 2px solid transparent !important;
	color: black !important;
	height: auto !important;
	max-height: none !important;
	min-height: 6px !important;
	margin-top: -2px !important;
	margin-right: 0;
	margin-bottom: -2px !important;
	margin-left: 0;
	padding: 0 !important;
	-moz-appearance: none !important;
	-moz-border-top-colors: transparent transparent !important;
	-moz-border-right-colors: transparent transparent !important;
	-moz-border-bottom-colors: transparent transparent !important;
	-moz-border-left-colors: transparent transparent !important;
	-moz-border-radius: 0 !important;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-left,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-middle,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-close-button,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-right {
	border: 10px solid transparent;
	margin: 0 !important;
	position: relative !important;
	-moz-appearance: none !important;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-middle > .tab-icon {
	margin-top: -16px !important;
	margin-bottom: -14px !important;
}
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-middle > .tab-text,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-middle > *,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-close-button > * {
	margin-top: -10px !important;
	margin-bottom: -10px !important;
}


tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]:not([treestyletab-appearance-inverted="true"])
  .tabbrowser-tab:not([treestyletab-drop-position="self"]) {
	border-right: 0 none !important;
	-moz-border-right-colors: none !important;
}
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab:not([treestyletab-drop-position="self"]) {
	border-left: 0 none !important;
	-moz-border-left-colors: none !important;
}
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]:not([treestyletab-appearance-inverted="true"])
  .tabbrowser-tab:not([treestyletab-drop-position="self"]) .tab-image-right,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab:not([treestyletab-drop-position="self"]) .tab-image-left {
	padding-right: 2px !important;
}



/* background, left */

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-left {
	border-right-width: 0;
	-moz-border-image: url("fullsize-active-l.png") 10 / 10px 0 10px 10px;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-left {
	-moz-border-image: url("fullsize-inactive-l.png") 10 / 10px 0 10px 10px;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-middle,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-close-button {
	border-left-width: 0;
	border-right-width: 0;
	-moz-border-image: url("fullsize-active-l.png") 10 / 10px 0 10px 0;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-middle,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-close-button {
	-moz-border-image: url("fullsize-inactive-l.png") 10 / 10px 0 10px 0;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-right {
	border-left-width: 0;
	-moz-border-image: url("fullsize-active-l.png") 10 / 10px 10px 10px 0;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-right {
	-moz-border-image: url("fullsize-inactive-l.png") 10 / 10px 10px 10px 0;
}



/* background, right */

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tab-image-left {
	-moz-border-image: url("fullsize-active-r.png") 10 / 10px 0 10px 10px;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tab-image-left {
	-moz-border-image: url("fullsize-inactive-r.png") 10 / 10px 0 10px 10px;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tab-image-middle,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tab-close-button {
	-moz-border-image: url("fullsize-active-r.png") 10 / 10px 0 10px 0;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tab-image-middle,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tab-close-button {
	-moz-border-image: url("fullsize-inactive-r.png") 10 / 10px 0 10px 0;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tab-image-right {
	-moz-border-image: url("fullsize-active-r.png") 10 / 10px 10px 10px 0;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tab-image-right {
	-moz-border-image: url("fullsize-inactive-r.png") 10 / 10px 10px 10px 0;
}



/* foreground, left */

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-left[selected="true"] {
	-moz-border-image: url("fullsize-active-selected-l.png") 10 / 10px 0 10px 10px;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-left[selected="true"] {
	-moz-border-image: url("fullsize-inactive-selected-l.png") 10 / 10px 0 10px 10px;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-middle[selected="true"],
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  [selected="true"] .tab-close-button {
	-moz-border-image: url("fullsize-active-selected-l.png") 10 / 10px 0 10px 0;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-middle[selected="true"],
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  [selected="true"] .tab-close-button {
	-moz-border-image: url("fullsize-inactive-selected-l.png") 10 / 10px 0 10px 0;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-right[selected="true"] {
	-moz-border-image: url("fullsize-active-selected-l.png") 10 / 10px 10px 10px 0;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tab-image-right[selected="true"] {
	-moz-border-image: url("fullsize-inactive-selected-l.png") 10 / 10px 10px 10px 0;
}



/* foreground, right */

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tab-image-left[selected="true"] {
	-moz-border-image: url("fullsize-active-selected-r.png") 10 / 10px 0 10px 10px;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tab-image-left[selected="true"] {
	-moz-border-image: url("fullsize-inactive-selected-r.png") 10 / 10px 0 10px 10px;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tab-image-middle[selected="true"],
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  [selected="true"] .tab-close-button {
	-moz-border-image: url("fullsize-active-selected-r.png") 10 / 10px 0 10px 0;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tab-image-middle[selected="true"],
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  [selected="true"] .tab-close-button {
	-moz-border-image: url("fullsize-inactive-selected-r.png") 10 / 10px 0 10px 0;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tab-image-right[selected="true"] {
	-moz-border-image: url("fullsize-active-selected-r.png") 10 / 10px 10px 10px 0;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tab-image-right[selected="true"] {
	-moz-border-image: url("fullsize-inactive-selected-r.png") 10 / 10px 10px 10px 0;
}

