@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab:hover,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"],
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"]:hover {
	background: transparent none !important;
	border: 2px solid transparent !important;
	color: black !important;
	height: 30px !important;
	margin-top: -2px !important;
	margin-right: 0;
	margin-bottom: -2px !important;
	margin-left: 0;
	padding: 0 !important;
	-moz-appearance: none !important;
	-moz-border-top-colors: transparent transparent !important;
	-moz-border-right-colors: transparent transparent !important;
	-moz-border-bottom-colors: transparent transparent !important;
	-moz-border-left-colors: transparent transparent !important;
	-moz-border-radius: 0 !important;
}


tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]:not([treestyletab-appearance-inverted="true"])
  .tabbrowser-tab:not([treestyletab-drop-position]),
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]:not([treestyletab-appearance-inverted="true"])
  .tabbrowser-tab[selected="true"]:not([treestyletab-drop-position]) {
	border-right: 0 none !important;
	-moz-border-right-colors: none !important;
}
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab:not([treestyletab-drop-position]),
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"]:not([treestyletab-drop-position]) {
	border-left: 0 none !important;
	-moz-border-left-colors: none !important;
}
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]:not([treestyletab-appearance-inverted="true"])
  .tabbrowser-tab:not([treestyletab-drop-position]) .tab-image-right,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]:not([treestyletab-appearance-inverted="true"])
  .tabbrowser-tab[selected="true"]:not([treestyletab-drop-position]) .tab-image-right,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab:not([treestyletab-drop-position]) .tab-image-left,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"]:not([treestyletab-drop-position]) .tab-image-left {
	width: 10px !important;
}


tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab .tab-image-middle,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab:hover .tab-image-middle,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab .tab-close-button,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab:hover .tab-close-button {
	background: url("tab-active-middle.png") repeat-x top left !important;
	margin: 0 !important;
	-moz-appearance: none !important;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab .tab-image-middle,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab:hover .tab-image-middle,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab .tab-close-button,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab:hover .tab-close-button {
	background-image: url("tab-inactive-middle.png") !important;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab .tab-image-left,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab:hover .tab-image-left {
	background: url("tab-active-left-l.png") no-repeat top left !important;
	width: 10px !important;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab .tab-image-left,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab:hover .tab-image-left {
	background-image: url("tab-inactive-left-l.png") !important;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab .tab-image-right,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab:hover .tab-image-right {
	background: url("tab-active-right-l.png") no-repeat top right !important;
	width: 8px !important;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab .tab-image-right,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab:hover .tab-image-right {
	background-image: url("tab-inactive-right-l.png")  !important;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"] .tab-image-middle,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"]:hover .tab-image-middle,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"] .tab-close-button,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"]:hover .tab-close-button,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"] .tab-image-right,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"]:hover .tab-image-right {
	background: url("tab-active-middle-selected.png") repeat-x top left !important;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"] .tab-image-middle,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"]:hover .tab-image-middle,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"] .tab-close-button,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"]:hover .tab-close-button,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"] .tab-image-right,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"]:hover .tab-image-right {
	background-image: url("tab-inactive-middle-selected.png") !important;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"] .tab-image-left,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"]:hover .tab-image-left {
	background: url("tab-active-left-selected-l.png") no-repeat top left !important;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"] .tab-image-left,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"]
  .tabbrowser-tab[selected="true"]:hover .tab-image-left {
	background-image: url("tab-inactive-left-selected-l.png") !important;
}




tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab .tab-image-middle,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab:hover .tab-image-middle,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab .tab-close-button,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab:hover .tab-close-button {
	background: url("tab-active-middle.png") repeat-x top left !important;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab .tab-image-middle,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab:hover .tab-image-middle,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab .tab-close-button,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab:hover .tab-close-button {
	background-image: url("tab-inactive-middle.png") !important;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab .tab-image-left,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab:hover .tab-image-left {
	background: url("tab-active-left-r.png") no-repeat top left !important;
	width: 8px !important;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab .tab-image-left,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab:hover .tab-image-left {
	background-image: url("tab-inactive-left-r.png")  !important;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab .tab-image-right,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab:hover .tab-image-right {
	background: url("tab-active-right-r.png") no-repeat top right !important;
	width: 10px !important;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab .tab-image-right,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab:hover .tab-image-right {
	background-image: url("tab-inactive-right-r.png") !important;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"] .tab-image-middle,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"]:hover .tab-image-middle,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"] .tab-close-button,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"]:hover .tab-close-button,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"] .tab-image-left,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"]:hover .tab-image-left {
	background: url("tab-active-middle-selected.png") repeat-x top left !important;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"] .tab-image-middle,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"]:hover .tab-image-middle,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"] .tab-close-button,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"]:hover .tab-close-button,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"] .tab-image-left,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"]:hover .tab-image-left {
	background-image: url("tab-inactive-middle-selected.png") !important;
}

tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"] .tab-image-right,
tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"]:hover .tab-image-right {
	background: url("tab-active-right-selected-r.png") no-repeat top right !important;
}
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"] .tab-image-right,
:root:not([active="true"]) tabbrowser[treestyletab-style="metal"][treestyletab-mode="vertical"][treestyletab-appearance-inverted="true"]
  .tabbrowser-tab[selected="true"]:hover .tab-image-right {
	background-image: url("tab-inactive-right-selected-r.png") !important;
}
