@import url("./disable-closebox-bg.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* color scheme: see also ../base-colors.css */

:root {
	--tst-tab-highlighted-base: ThreeDHighlight;
	--tst-tab-highlighted-highlight: Highlight;
	--tst-tab-side-border: ThreeDLightShadow;
	--tst-tab-surface-hover: #e0e8f6;
	--tst-tab-surface-selected: #c1d2ee;
	--tst-tab-surface-selected-hover: #d1e2fe;

	--tst-tabbar-bg: darkgray;
}

:root[devtoolstheme="dark"][treestyletab-devedition="true"] {
	--tst-tab-highlighted-base: ThreeDHighlight;
	--tst-tab-highlighted-highlight: Highlight;
	--tst-tab-side-border: #39424D;
	--tst-tab-surface-hover: #49525D;
	--tst-tab-surface-selected: #1a4666;
	--tst-tab-surface-selected-hover: #1f5981;

	--tst-tabbar-bg: #1c2126;
}


/* Default style */

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"]),
.treestyletab-tabbar-toolbar:not([treestyletab-tabbar-position="top"]) {
	appearance: none;
	-moz-appearance: none;
	background: transparent !important;
	margin: 0 !important;
	padding: 0 !important;
}
.tabbrowser-strip[treestyletab-style~="border"]:not([treestyletab-tabbar-position="top"]) {
	appearance: none;
	-moz-appearance: none;
	background: var(--tst-tabbar-bg) !important;
}

.tabbrowser-strip[treestyletab-mode="vertical"],
.treestyletab-tabbar-toolbar[treestyletab-mode="vertical"],
.tabbrowser-tabs[treestyletab-mode="vertical"],
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox,
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-container {
	height: auto !important;
	max-height: none !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.treestyletab-tabbar-toolbar:not([treestyletab-tabbar-position="top"]),
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="top"]:not([treestyletab-tabbar-fixed="true"]) {
	border: 0 none !important;
	margin: 0 !important;
	padding: 0 !important;
	box-shadow: none !important;
}

.tabbrowser-strip[treestyletab-tabbar-position="left"][treestyletab-tabbar-fixed="true"],
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="left"][treestyletab-tabbar-fixed="true"] {
	border-right: 1px solid var(--tst-tab-border) !important;
	-moz-border-right-colors: none !important;
}
.tabbrowser-strip[treestyletab-tabbar-position="right"][treestyletab-tabbar-fixed="true"],
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="right"][treestyletab-tabbar-fixed="true"] {
	border-left: 1px solid var(--tst-tab-border) !important;
	-moz-border-left-colors: none !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-left,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabs-bottom,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tab-text-shadow /* Mac OS X */ {
	display: none !important;
}

/* Disable pseudo elements introduced by Australis */
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tab-background-start::before,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tab-background-start::after,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tab-background-end::before,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tab-background-end::after {
	content: none;
}
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  :-moz-any(.tab-background-start,
            .tab-background-end) {
	min-height: 0;
	width: 0;
}
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:hover .tab-background:not([visuallyselected="true"]) {
	background-image: none;
}


.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[visuallyselected="true"],
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([visuallyselected="true"]) {
	appearance: none !important;
	-moz-appearance: none !important;
	min-height: 2em;
	margin: 0 !important;
	/*padding: 0 0.2em !important;*/
	color: var(--tst-tab-text) !important;
	-moz-background-origin: border !important;
	background-origin: border-box !important;
	background-position: 0 0 !important;
	border-top: 2px solid !important;
	-moz-border-top-colors: transparent transparent !important;
	border-bottom: 2px solid !important;
	-moz-border-bottom-colors: var(--tst-tab-border) transparent !important;
	border-radius: 0 !important;
	-moz-border-image: none !important;
	border-image: none !important;
	box-align: stretch !important;
	-moz-box-align: stretch !important;
}
/* override "-moz-menutext" color defined by the default theme, because it is too bright on Ubuntu */
#TabsToolbar:not(:-moz-lwtheme):not([treestyletab-tabbar-position="top"])
  #tabbrowser-tabs
  .tabbrowser-tab:not([visuallyselected]) {
	color: var(--tst-tab-text) !important;
}
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([pinned]),
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([pinned])[visuallyselected="true"],
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([pinned]):not([visuallyselected="true"]) {
	background: none repeat-x !important;
	background-color: var(--tst-tab-surface) !important;
}

/* highlighted pinned tabs */
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned][titlechanged]:not([visuallyselected="true"]) {
	background-image: radial-gradient(circle farthest-corner at 50% 3px,
	                                  var(--tst-tab-highlighted-base) 3%,
	                                  var(--tst-tab-highlighted-highlight) 80%);
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned][titlechanged]:not([visuallyselected="true"]):hover {
	background-image: radial-gradient(circle farthest-corner at 50% 3px,
	                                  var(--tst-tab-highlighted-base) 3%,
	                                  var(--tst-tab-highlighted-highlight) 100%);
}

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  :-moz-any(.tabbrowser-tab[pinned]:not([titlechanged]),
            .tabbrowser-tab[pinned]:not([titlechanged])[visuallyselected="true"],
            .tabbrowser-tab[pinned]:not([titlechanged]):not([visuallyselected="true"]),
            .tabbrowser-tab[pinned][titlechanged]:not(.treestyletab-faviconized),
            .tabbrowser-tab[pinned][titlechanged]:not(.treestyletab-faviconized)[visuallyselected="true"],
            .tabbrowser-tab[pinned][titlechanged]:not(.treestyletab-faviconized):not([visuallyselected="true"])),
:root[tabFx2Compatible-flags~="mac"]
  .tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  :-moz-any(.tabbrowser-tab[pinned],
            .tabbrowser-tab[pinned][titlechanged]) {
	background: none repeat-x !important;
	background-color: var(--tst-tab-surface) !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:not([pinned="true"]):not([visuallyselected="true"]):first-child {
	-moz-border-top-colors: var(--tst-tab-border) transparent !important;
}


/* for Mac OS X */
.tabbrowser-tabs[treestyletab-mode="vertical"]
  :-moz-any(.tab-content:not([pinned="true"]):not([visuallyselected="true"]),
            .tab-content:not([pinned="true"])[visuallyselected="true"]) {
	border: 0 none !important;
	background: transparent !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  :-moz-any(.tab-background-start:not([visuallyselected="true"]),
            .tab-background-middle:not([visuallyselected="true"]),
            .tab-background-end:not([visuallyselected="true"]),
            .tab-background-start[visuallyselected="true"],
            .tab-background-middle[visuallyselected="true"],
            .tab-background-end[visuallyselected="true"]) {
	mask: none !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  :-moz-any(.tab-background-start:not([visuallyselected="true"]),
            .tab-background-middle:not([visuallyselected="true"]):not([pinned]),
            .tab-background-middle:not([visuallyselected="true"])[pinned]:not([titlechanged]),
            .tab-background-end:not([visuallyselected="true"]),
            .tab-background-start[visuallyselected="true"],
            .tab-background-middle[visuallyselected="true"],
            .tab-background-end[visuallyselected="true"]) {
	background: transparent !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  :-moz-any(.tab-background-start[pinned][titlechanged],
            .tab-background-end[pinned][titlechanged]) {
	visibility: collapse !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-background,
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-background-middle {
	margin: 0 !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tab-content {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tab-icon-image,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tab-throbber {
	margin-left: 0;
}

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[visuallyselected="true"] {
	margin: 0 !important;
	-moz-border-top-colors: var(--tst-tab-surface-hover) transparent !important;
	-moz-border-bottom-colors: var(--tst-tab-border) transparent !important;
}
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[visuallyselected="true"]:not([pinned]) {
	padding: 0 0.2em !important;
}
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([pinned])[visuallyselected="true"],
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[pinned][visuallyselected="true"] {
	background-color: var(--tst-tab-surface-hover) !important;
}


.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  .tab-close-button {
	margin: 0 !important;
	padding: 0 !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab,
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[visuallyselected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab:not([visuallyselected="true"]) {
	border-left: 2px solid !important;
	-moz-border-left-colors: var(--tst-tab-side-border) transparent !important;
	border-right: 2px solid !important;
	-moz-border-right-colors: var(--tst-tab-side-border) transparent !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[visuallyselected="true"] {
	-moz-border-left-colors: var(--tst-tab-side-border) transparent !important;
	-moz-border-right-colors: var(--tst-tab-side-border) transparent !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab
  .tab-close-button {
	margin-right: 0 !important;
}

.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab,
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab[visuallyselected="true"],
.tabbrowser-tabs[treestyletab-tabbar-position="bottom"]
  .tabbrowser-tab:not([visuallyselected="true"]) {
	border-right: 2px solid !important;
	-moz-border-right-colors: var(--tst-tab-border) transparent !important;
	border-left: 2px solid !important;
	-moz-border-left-colors: var(--tst-tab-border) transparent !important;
}

/* Mac OS X */
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab {
	box-pack: start !important;
	-moz-box-pack: start !important;
	text-align: start !important; 
}


/* padding */

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[visuallyselected="true"]:not([pinned]),
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([visuallyselected="true"]):not([pinned]),
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  .tab-content[visuallyselected="true"]:not([pinned]),
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  .tab-content:not([visuallyselected="true"]):not([pinned]) {
	padding: 0 0.2em !important;
}


/* aero glass */

.tabbrowser-tabs[treestyletab-style~="aero"]:not([treestyletab-tabbar-position="top"]),
.tabbrowser-strip[treestyletab-style~="aero"]:not([treestyletab-tabbar-position="top"]),
tabbrowser[treestyletab-style~="aero"]:not([treestyletab-tabbar-position="top"]),
:root[treestyletab-style~="aero"]:not([treestyletab-tabbar-position="top"]) #appcontent,
:root[treestyletab-style~="aero"]:not([treestyletab-tabbar-position="top"]) #browser {
	appearance: none !important;
	-moz-appearance: none !important;
	background: transparent !important;
}
