@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


tabbrowser[treestyletab-style~="mixed"][treestyletab-mode="vertical"] .tabbrowser-tab:not([selected="true"]):hover,
tabbrowser[treestyletab-style~="mixed"][treestyletab-tabbar-position="bottom"] .tabbrowser-tab:not([selected="true"]):hover {
	background-color: ThreeDFace !important;
	background-image: url("tab-bg-hover.png") !important;
}

tabbrowser[treestyletab-style~="mixed"][treestyletab-mode="vertical"] .tabbrowser-tab[selected="true"]:hover,
tabbrowser[treestyletab-style~="mixed"][treestyletab-tabbar-position="bottom"] .tabbrowser-tab[selected="true"]:hover {
	background-color: #c1d2ee !important;
	background-image: url("tab-bg-selected-hover.png") !important;
}

