@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* drop-shadow of vertival tabs */

tabbrowser[treestyletab-style~="square"]:not([treestyletab-style~="vertigo"])[treestyletab-mode="vertical"]
  .tabbrowser-tab {
	-moz-box-shadow: -0.3em 0.3em 0.2em rgba(0, 0, 0, 0.15) !important;
}
tabbrowser[treestyletab-style~="square"]:not([treestyletab-style~="vertigo"])[treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tabbrowser-tab {
	-moz-box-shadow: 0.3em 0.3em 0.2em rgba(0, 0, 0, 0.15) !important;
}
tabbrowser[treestyletab-style~="square"]:not([treestyletab-style~="vertigo"])[treestyletab-mode="vertical"]
  .tabs-container:not([overflow="true"]) .tabbrowser-arrowscrollbox .scrollbox-innerbox {
	background: url("newtab-shadow.png") repeat-x bottom !important;
}
tabbrowser[treestyletab-style~="square"]:not([treestyletab-style~="vertigo"])[treestyletab-mode="vertical"]
  .tabs-container:not([overflow="true"]) .tabbrowser-arrowscrollbox .tabs-newtab-button {
	margin-bottom: 5px !important;
}

tabbrowser[treestyletab-style~="square"]:not([treestyletab-style~="vertigo"])[treestyletab-mode="vertical"]
  .tabbrowser-tabs:not([overflow="true"]) .tabbrowser-arrowscrollbox,
tabbrowser[treestyletab-style~="square"]:not([treestyletab-style~="vertigo"])[treestyletab-mode="vertical"]
  .tabbrowser-tabs[overflow="true"] .tabbrowser-arrowscrollbox .scrollbox-innerbox {
	background: url("../metal/shadow-inactive-l.png") repeat-y top right !important;
}
tabbrowser[treestyletab-style~="square"]:not([treestyletab-style~="vertigo"])[treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tabbrowser-tabs:not([overflow="true"]) .tabbrowser-arrowscrollbox,
tabbrowser[treestyletab-style~="square"]:not([treestyletab-style~="vertigo"])[treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tabbrowser-tabs[overflow="true"] .tabbrowser-arrowscrollbox .scrollbox-innerbox {
	background: url("../metal/shadow-inactive-r.png") repeat-y top left !important;
}

