@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* drop-shadow of vertival tabs */

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab:not([pinned="true"]) {
	box-shadow: -0.3em 0.3em 0.2em rgba(0, 0, 0, 0.15);
	-moz-box-shadow: -0.3em 0.3em 0.2em rgba(0, 0, 0, 0.15);
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tabbrowser-tab:not([pinned="true"]) {
	box-shadow: 0.3em 0.3em 0.2em rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0.3em 0.3em 0.2em rgba(0, 0, 0, 0.15);
}

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabs-container:not([overflow="true"])
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button,
.treestyletab-tabbar-toolbar
  .tabbrowser-tabs[treestyletab-mode="vertical"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button {
	box-shadow: 0 0.3em 0.2em rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0.3em 0.2em rgba(0, 0, 0, 0.15);
}


.tabbrowser-tabs[treestyletab-mode="vertical"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox,
.tabbrowser-tabs[treestyletab-mode="vertical"][overflow="true"]
  .tabbrowser-arrowscrollbox
  .scrollbox-innerbox {
	box-shadow: inset -0.2em 0.2em 0.3em rgba(0, 0, 0, 0.15) !important;
	-moz-box-shadow: inset -0.2em 0.2em 0.3em rgba(0, 0, 0, 0.15) !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-tab-inverted="true"][overflow="true"]
  .tabbrowser-arrowscrollbox
  .scrollbox-innerbox {
	box-shadow: inset 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.15) !important;
	-moz-box-shadow: inset 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.15) !important;
}


/* Transparent tabs are shown above solid tabs.
   We have to set z-index to show all tabs in the same layer. */
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab,
.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button {
	position: relative;
	z-index: auto;
}
