@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* drop-shadow of vertival tabs */

.tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"]
  .tabbrowser-tab:not([pinned="true"]) {
	-moz-box-shadow: -0.3em 0.3em 0.2em rgba(0, 0, 0, 0.15);
	box-shadow: -0.3em 0.3em 0.2em rgba(0, 0, 0, 0.15);
}

.tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tabbrowser-tab:not([pinned="true"]) {
	-moz-box-shadow: 0.3em 0.3em 0.2em rgba(0, 0, 0, 0.15);
	box-shadow: 0.3em 0.3em 0.2em rgba(0, 0, 0, 0.15);
}

.tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"]
  .tabs-container:not([overflow="true"])
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button,
#TabsToolbar
  .tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button {
	-moz-box-shadow: 0 0.3em 0.2em rgba(0, 0, 0, 0.15);
	box-shadow: 0 0.3em 0.2em rgba(0, 0, 0, 0.15);
}

/* hide new tab button by Tab Mix Plus
	https://addons.mozilla.org/firefox/addon/1122 */
.tabbrowser-tabs[newTabButton="false"][treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"]
  .tabs-container:not([overflow="true"])
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button,
#TabsToolbar
  .tabbrowser-tabs[newTabButton="false"][treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button,
/* hide new tab button by Tab Mix Lite
	https://addons.mozilla.org/firefox/addon/12444 */
.tabbrowser-tabs[newTabButton="none"][treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"]
  .tabs-container:not([overflow="true"])
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button,
#TabsToolbar
  .tabbrowser-tabs[newTabButton="none"][treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button,
/* hide new tab button by Tabberwocky
	https://addons.mozilla.org/firefox/addon/14439 */
tabbrowser[tabberwocky-hidenewtabbutton="true"]
  .tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"]
  .tabs-container:not([overflow="true"])
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button,
#TabsToolbar[tabberwocky-hidenewtabbutton="true"] /* not implemented on 1.1, so this is just a random guess... */
  .tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button,
/* hide new tab button by Tab Utilities
	https://addons.mozilla.org/firefox/addon/59961 */
.tabbrowser-tabs[newbutton="none"][treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"]
  .tabs-container:not([overflow="true"])
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button,
#TabsToolbar
  .tabbrowser-tabs[newbutton="none"][treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button,
/* hide new tab button by others */
:root[treestyletab-hide-newtab-button="true"]
  .tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"]
  .tabs-container:not([overflow="true"])
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button,
:root[treestyletab-hide-newtab-button="true"]
  #TabsToolbar
  .tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button {
	-moz-box-shadow: none;
	box-shadow: none;
}


.tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox,
.tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"][overflow="true"]
  .tabbrowser-arrowscrollbox
  .scrollbox-innerbox {
	-moz-box-shadow: inset -0.2em 0.2em 0.3em rgba(0, 0, 0, 0.15) !important;
	box-shadow: inset -0.2em 0.2em 0.3em rgba(0, 0, 0, 0.15) !important;
}

.tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]:not([overflow="true"])
  .tabbrowser-arrowscrollbox,
.tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="shadow"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"][overflow="true"]
  .tabbrowser-arrowscrollbox
  .scrollbox-innerbox {
	-moz-box-shadow: inset 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.15) !important;
	box-shadow: inset 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.15) !important;
}


/* Transparent tabs are shown above solid tabs.
   We have to set z-index to show all tabs in the same layer. */
.tabbrowser-tabs[treestyletab-style~="square"]:not([treestyletab-style="vertigo"])[treestyletab-mode="vertical"]
  .tabbrowser-tab,
.tabbrowser-tabs[treestyletab-style~="square"]:not([treestyletab-style="vertigo"])[treestyletab-mode="vertical"]
  .tabbrowser-arrowscrollbox
  .tabs-newtab-button {
	position: relative;
	z-index: auto;
}
