@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* vertical tree */

.tabbrowser-strip[treestyletab-tabbar-position="left"]:not([treestyletab-tabbar-transparent="full"]),
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="left"]:not([treestyletab-tabbar-transparent="full"]) {
	border-right: 1px solid ThreeDShadow !important;
	-moz-border-right-colors: none !important;
}
.tabbrowser-strip[treestyletab-tabbar-position="right"]:not([treestyletab-tabbar-transparent="full"]),
.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="right"]:not([treestyletab-tabbar-transparent="full"]) {
	border-left: 1px solid ThreeDShadow !important;
	-moz-border-right-colors: none !important;
}
