@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabbrowser-tabs[treestyletab-style~="color"][treestyletab-mode="vertical"]
  .tabbrowser-tab {
	-moz-border-right-colors: transparent transparent !important;
	-moz-border-left-colors: transparent transparent !important;
}

.tabbrowser-tabs[treestyletab-style~="color"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([visuallyselected="true"]):hover {
	-moz-border-top-colors: var(--tst-tab-surface-hover) transparent !important;
	-moz-border-left-colors: var(--tst-tab-surface-hover) transparent !important;
}
.tabbrowser-tabs[treestyletab-style~="color"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([visuallyselected="true"]):not([pinned]):hover,
.tabbrowser-tabs[treestyletab-style~="color"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([visuallyselected="true"])[pinned]:not([titlechanged]):hover {
	background-color: var(--tst-tab-surface-hover) !important;
}
.tabbrowser-tabs[treestyletab-style~="color"][treestyletab-mode="vertical"][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child:not([visuallyselected="true"]):hover {
	-moz-border-top-colors: var(--tst-tab-border) var(--tst-tab-surface-hover) !important;
}
.tabbrowser-tabs[treestyletab-style~="color"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tabbrowser-tab:not([visuallyselected="true"]):hover {
	-moz-border-right-colors: var(--tst-tab-surface-hover) transparent !important;
}

.tabbrowser-tabs[treestyletab-style~="color"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[visuallyselected="true"] {
	-moz-border-top-colors: var(--tst-tab-surface-selected) transparent !important;
	-moz-border-left-colors: var(--tst-tab-surface-selected) transparent !important;
}
.tabbrowser-tabs[treestyletab-style~="color"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[visuallyselected="true"] {
	background-color: var(--tst-tab-surface-selected) !important;
}
.tabbrowser-tabs[treestyletab-style~="color"][treestyletab-mode="vertical"][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child[visuallyselected="true"] {
	-moz-border-top-colors: var(--tst-tab-border) var(--tst-tab-surface-selected) !important;
}
.tabbrowser-tabs[treestyletab-style~="color"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tabbrowser-tab[visuallyselected="true"] {
	-moz-border-right-colors: var(--tst-tab-surface-selected) transparent !important;
}

.tabbrowser-tabs[treestyletab-style~="color"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[visuallyselected="true"]:hover {
	-moz-border-top-colors: var(--tst-tab-surface-selected-hover) transparent !important;
	-moz-border-left-colors: var(--tst-tab-surface-selected-hover) transparent !important;
}
.tabbrowser-tabs[treestyletab-style~="color"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[visuallyselected="true"]:hover {
	background-color: var(--tst-tab-surface-selected-hover) !important;
}
.tabbrowser-tabs[treestyletab-style~="color"][treestyletab-mode="vertical"][treestyletab-firsttab-border="true"]
  .tabbrowser-tab:first-child[visuallyselected="true"]:hover {
	-moz-border-top-colors: var(--tst-tab-border) var(--tst-tab-surface-selected-hover) !important;
}
.tabbrowser-tabs[treestyletab-style~="color"][treestyletab-mode="vertical"][treestyletab-tab-inverted="true"]
  .tabbrowser-tab[visuallyselected="true"]:hover {
	-moz-border-right-colors: var(--tst-tab-surface-selected-hover) transparent !important;
}
