@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* surface */

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  .tab-background {
	transition: background 0.5s ease-out !important;
}

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([titlechanged])
  :-moz-any(.tab-background:not([pinned]),
            .tab-background[pinned]) {
	background-color: var(--tst-tab-surface) !important;
	background-image: linear-gradient(
	                    to bottom,
	                    rgba(0, 0, 0, 0.02) 0,
	                    rgba(0, 0, 0, 0) 50%
	                  ) !important;
}


.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[visuallyselected="true"]
  .tab-background[selected="true"] {
	background-color: var(--tst-tab-surface-selected) !important;
	background-image: linear-gradient(
	                    to bottom,
	                    rgba(4, 83, 227, 0.04) 0,
	                    rgba(4, 83, 227, 0) 50%
	                  ) !important;
}


/* hover */

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:hover
  :-moz-any(.tab-background:not([pinned]),
            .tab-background[pinned]:not([titlechanged])) {
	background-color: var(--tst-tab-surface-hover) !important;
	background-image: linear-gradient(
	                    to bottom,
	                    rgba(213, 224, 245, 1) 0,
	                    rgba(213, 224, 245, 0.4) 50%
	                  ) !important;
}

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:hover
  .tab-background[selected="true"] {
	background-color: var(--tst-tab-surface-selected-hover) !important;
	background-image: linear-gradient(
	                    to bottom,
	                    rgba(199, 219, 252, 1) 0,
	                    rgba(199, 219, 252, 0.4) 50%
	                  ) !important;
}


/* pinned  tabs */

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned]:not([treestyletab-drop-position]) {
  -moz-border-right-colors: var(--tst-tab-border) transparent !important;
}
