@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* padding */

.tabbrowser-tabs[treestyletab-style~="square"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[selected="true"],
.tabbrowser-tabs[treestyletab-style~="square"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([selected="true"]) {
	padding: 0 !important;
}

.tabbrowser-tabs[treestyletab-style~="square"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([pinned]) .tab-content[selected="true"],
.tabbrowser-tabs[treestyletab-style~="square"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([pinned]) .tab-content:not([selected="true"]) {
	padding: 0 0.2em !important;
}


/* surface */

.tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="color"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  .tab-background {
	-moz-transition: background 0.5s ease-out !important;
	transition: background 0.5s ease-out !important;
}

.tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="color"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  :-moz-any(.tab-background:not([selected="true"]):not([pinned]),
            .tab-background:not([selected="true"])[pinned]:not([titlechanged])) {
	background-color: ThreeDFace !important;
	background-image: -moz-linear-gradient(
	                    top, 
	                    rgba(0, 0, 0, 0.02) 1px,
	                    rgba(0, 0, 0, 0) 50%
	                  ) !important;
}

.tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="color"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  :-moz-any(.tab-background[selected="true"]:not([pinned]),
            .tab-background[selected="true"][pinned]:not([titlechanged])) {
	background-color: #c1d2ee !important;
	background-image: -moz-linear-gradient(
	                    top,
	                    rgba(4, 83, 227, 0.04) 1px,
	                    rgba(4, 83, 227, 0) 50%
	                  ) !important;
}


/* hover */

.tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="color"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:hover
  :-moz-any(.tab-background:not([selected="true"]):not([pinned]),
            .tab-background:not([selected="true"])[pinned]:not([titlechanged]))  {
	background-color: #e0e8f6 !important;
	background-image: -moz-linear-gradient(
	                    top,
	                    rgba(213, 224, 245, 1) 1px,
	                    rgba(213, 224, 245, 0.4) 50%
	                  ) !important;
}

.tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="color"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:hover
  :-moz-any(.tab-background[selected="true"]:not([pinned]),
            .tab-background[selected="true"][pinned]:not([titlechanged])) {
	background-color: #d1e2fe !important;
	background-image: -moz-linear-gradient(
	                    top,
	                    rgba(199, 219, 252, 1) 1px,
	                    rgba(199, 219, 252, 0.4) 50%
	                  ) !important;
}

