@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* surface */

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  .tab-background {
	-moz-transition: background 0.5s ease-out !important;
	transition: background 0.5s ease-out !important;
}

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  :-moz-any(.tab-background:not([pinned]),
            .tab-background:not([titlechanged])[pinned]) {
	background-color: -moz-dialog !important;
	background-image: -moz-linear-gradient(
	                    top, 
	                    rgba(0, 0, 0, 0.02) 0,
	                    rgba(0, 0, 0, 0) 50%
	                  ) !important;
}


.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab
  .tab-background[visuallyselected="true"] {
	background-color: #c1d2ee !important;
	background-image: -moz-linear-gradient(
	                    top,
	                    rgba(4, 83, 227, 0.04) 0,
	                    rgba(4, 83, 227, 0) 50%
	                  ) !important;
}


/* hover */

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:hover
  :-moz-any(.tab-background:not([pinned]),
            .tab-background[pinned]:not([titlechanged])) {
	background-color: #e0e8f6 !important;
	background-image: -moz-linear-gradient(
	                    top,
	                    rgba(213, 224, 245, 1) 0,
	                    rgba(213, 224, 245, 0.4) 50%
	                  ) !important;
}

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:hover
  .tab-background[visuallyselected="true"] {
	background-color: #d1e2fe !important;
	background-image: -moz-linear-gradient(
	                    top,
	                    rgba(199, 219, 252, 1) 0,
	                    rgba(199, 219, 252, 0.4) 50%
	                  ) !important;
}


/* pinned  tabs */

.tabbrowser-tabs[treestyletab-mode="vertical"]
  .tabbrowser-tab[pinned]:not([treestyletab-drop-position]) {
  -moz-border-right-colors: ThreeDShadow transparent !important;
}
