@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* padding */

.tabbrowser-tabs[treestyletab-style~="square"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[selected="true"],
.tabbrowser-tabs[treestyletab-style~="square"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([selected="true"]) {
	padding: 0 !important;
}

.tabbrowser-tabs[treestyletab-style~="square"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab .tab-content[selected="true"],
.tabbrowser-tabs[treestyletab-style~="square"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab .tab-content:not([selected="true"]) {
	padding: 0 0.2em !important;
}


/* surface */

.tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="color"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab .tab-background {
	-moz-transition: background-image 0.25s ease-out !important;
	transition: background-image 0.25s ease-out !important;
}

.tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="color"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab .tab-background:not([selected="true"]) {
	background-image: -moz-linear-gradient(
	                    top, 
	                    rgba(0, 0, 0, 0.05) 1px,
	                    rgba(0, 0, 0, 0) 50%
	                  ) !important;
}

.tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="color"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab .tab-background[selected="true"] {
	background-image: -moz-linear-gradient(
	                    top,
	                    rgba(4, 83, 227, 0.05) 1px,
	                    rgba(4, 83, 227, 0) 50%
	                  ) !important;
}


/* hover */

.tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="color"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:hover .tab-background:not([selected="true"]) {
	background-image: -moz-linear-gradient(
	                    top,
	                    rgba(213, 224, 245, 1) 1px,
	                    rgba(213, 224, 245, 0.4) 150%
	                  ) !important;
}

.tabbrowser-tabs[treestyletab-style~="square"][treestyletab-style~="color"]:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:hover .tab-background[selected="true"] {
	background-image: -moz-linear-gradient(
	                    top,
	                    rgba(199, 219, 252, 1) 1px,
	                    rgba(199, 219, 252, 0.4) 150%
	                  ) !important;
}

