@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* surface */

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab,
.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([selected="true"]) {
	background-image: url("tab-bg.png") !important;
	background-repeat: repeat-x !important;
	background-position: 1px 1px !important;
}

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[selected="true"] {
	background-image: url("tab-bg-highlighted.png") !important;
}

/* hover */

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab:not([selected="true"]):hover {
	background-color: ThreeDFace !important;
	background-image: url("tab-bg-hover.png") !important;
}

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"])
  .tabbrowser-tab[selected="true"]:hover {
	background-color: #c1d2ee !important;
	background-image: url("tab-bg-selected-hover.png") !important;
}

