@import url("sidebar-base.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"]:not([selected="true"]):hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"][selected="true"],
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"][selected="true"]:hover,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"]:not([selected="true"]),
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"]:not([selected="true"]):hover {
	border: 0 none !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"][selected="true"]
  .tab-stack,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"][selected="true"]:hover
  .tab-stack,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"]:not([selected="true"])
  .tab-stack,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"]:not([selected="true"]):hover
  .tab-stack {
	position: relative !important;
	-moz-border-image: url("dropmarker.png") 12 0 0 11 / 12px 0 0 11px !important;
	border-image: url("dropmarker.png") 12 0 0 11 fill / 12px 0 0 11px !important;
	margin-top: -7px !important;
	margin-left: -11px !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"][selected="true"]
  .tab-content,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"][selected="true"]:hover
  .tab-content,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"]:not([selected="true"])
  .tab-content,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="before"]:not([selected="true"]):hover
  .tab-content {
	position: relative !important;
	margin-top: -4px !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"][selected="true"]
  .tab-stack,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"][selected="true"]:hover
  .tab-stack,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"]:not([selected="true"])
  .tab-stack,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"]:not([selected="true"]):hover
  .tab-stack {
	position: relative !important;
	-moz-border-image: url("dropmarker.png") 0 0 12 11 / 0 0 12px 11px !important;
	border-image: url("dropmarker.png") 0 0 12 11 fill / 0 0 12px 11px !important;
	margin-bottom: -7px !important;
	margin-left: -11px !important;
}

.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"][selected="true"]
  .tab-content,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"][selected="true"]:hover
  .tab-content,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"]:not([selected="true"])
  .tab-content,
.tabbrowser-tabs[treestyletab-mode="vertical"][treestyletab-style]
  .tabbrowser-tab:not([pinned="true"])[treestyletab-drop-position="after"]:not([selected="true"]):hover
  .tab-content {
	position: relative !important;
	margin-bottom: -4px !important;
}
