@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

tabbrowser[treestyletab-style~="square"][treestyletab-tabbar-position="left"]:not([treestyletab-tabbar-transparent="full"]) .tabbrowser-strip {
	border-right: 1px solid ThreeDShadow !important;
	-moz-border-right-colors: none !important;
}
tabbrowser[treestyletab-style~="square"][treestyletab-tabbar-position="right"]:not([treestyletab-tabbar-transparent="full"]) .tabbrowser-strip {
	border-left: 1px solid ThreeDShadow !important;
	-moz-border-right-colors: none !important;
}

