@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* horizontal tree */

.tabbrowser-tabs[treestyletab-style][treestyletab-tabbar-position="top"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab:not([selected="true"]),
.tabbrowser-tabs[treestyletab-style][treestyletab-tabbar-position="top"][treestyletab-tabs-indented="true"]
  .tabbrowser-tab[selected="true"] {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	height: 1.5em;
	-moz-border-radius: 0 0 0 0;
}


/* vertical tree */

.tabbrowser-strip[treestyletab-style~="square"][treestyletab-tabbar-position="left"]:not([treestyletab-tabbar-transparent="full"]),
#TabsToolbar[treestyletab-style~="square"][treestyletab-tabbar-position="left"]:not([treestyletab-tabbar-transparent="full"]) {
	border-right: 1px solid ThreeDShadow !important;
	-moz-border-right-colors: none !important;
}
.tabbrowser-strip[treestyletab-style~="square"][treestyletab-tabbar-position="right"]:not([treestyletab-tabbar-transparent="full"]),
#TabsToolbar[treestyletab-style~="square"][treestyletab-tabbar-position="right"]:not([treestyletab-tabbar-transparent="full"]) {
	border-left: 1px solid ThreeDShadow !important;
	-moz-border-right-colors: none !important;
}


/* splitter for floating & autohide tab bar */
#TabsToolbar .treestyletab-splitter {
	width: 6px;
	-moz-appearance: none;
}

